<div class="container">
<div class="block-title clearfix">
	<h2>LES INTERVENANTS</h2>
</div>

	<div id="desc-part">
		<h3 class="author"><%= link_to @intervenant.nom, @intervenant.lien, class:"author" %></h3>
			<div class="author-desc ">
			<p><%= raw @intervenant.description %></p>
	<p><strong>&nbsp;</strong></p>	</div>
	<div class="participants clearfix">
		<% @intervenants.each do |intervenant| %>
			<a href="/intervenant/<%= intervenant.id %>" class=""><i class="icon arrow-right"></i> 
						<span class="text"><%= intervenant.nom %></span>
			</a>
		<% end %>
	</div>
		<div class="articles-author">
			<!-- <strong>Les émissions où il est intervenu dans le Nouvel Esprit public:</strong> -->
			<strong>Les brèves proposées par <%= @intervenant.nom %>:</strong>
			<!-- <ul class="clearfix">
				<%# @intervenant.books.each do |book| %>
					<li><a href="/podcasts/<%# book.podcast.id %>"><%# book.titre %></a></li>
				<%# end %>
			</ul> -->
			<div class="last-post clearfix">
        <% @intervenant.books.each do |book| %>
          <article class=" on" style="height: 296px;">
            <a href="<%= book.lien %>" class="">
              <div class="clearfixd">
                <img src="<%= book.image.url %>" alt="">
                <div class="infos-right">
                  <span class="cat"></span>
                  <h2><%= book.titre %></h2>
                </div>
              </div>
              <div class="entry-content">
                <div>
                  <p class="aerian">"<%= book.description.html_safe %>"</p>
                </div>
              </div>
              <span class="icon-top"><i class="sprite etat"></i></span>
            </a>
          </article>
          <br>
        <% end %>
        
        <div class="clearfix"></div>
        <!-- <div class="sep-art"></div> -->   
      </div>
		</div>
		<div class="separator"></div>
	</div>

</div>