<%= form_for(rubrique) do |f| %>
  <% if rubrique.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rubrique.errors.count, "error") %> prohibited this rubrique from being saved:</h2>

      <ul>
      <% rubrique.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :resume %>
    <%= f.text_field :resume %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :intervenant_id %>
    <%= f.text_field :intervenant_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
