<div class="container clearfix">
  <div class="table articles  page-edito ">
    <section class="left-article table-cell">
      <!-- left-article -->
      <article class="clearfix edito">
        <div class="table">
          <div class="body-edito table-cell">
            <header>
              <h1 class='podcast-title'>Les chroniques</h1>
            </header>
          </div>
        </div>
      </article>
      <!-- last article -->
      <div class="last-post clearfix">
        <% @rubriques.each do |rubrique| %>
          <article class=" on" style="height: 296px;">
            <div class="clearfixd">
              <div class="infos-right">
                <span class="cat"></span>
                <h2><%= rubrique.title %></h2>
                <p><span class="author"><%= rubrique.intervenant.nom %></span>, publiée le <%= rubrique.updated_at.strftime("%d-%m-%Y") %></p>
              </div>
            </div>
            <a href="/chroniques/<%= rubrique.id %>" class="">
              <div class="entry-content">
                <div>
                  <p class="aerian">"<%= rubrique.resume.html_safe %>[...]"</p>
                </div>
              </div>
              <span class="icon-top"><i class="sprite etat"></i></span>
            </a>
          </article>
          <br>
        <% end %>
        <div class="nav-article">                  
          <%= paginate @rubriques %>
        </div>
        <div class="clearfix"></div>
        <!-- <div class="sep-art"></div> -->   
      </div>
      <!-- liste journal -->
      <div class="last-num">
        <ul class="clearfix">
          <li class="view-all"><%= link_to 'VOIR TOUS LES PODCASTS', podcasts_path %></li>
        </ul>
      </div>
    </section>
  </div>
</div>