<% content_for :social do %>
  <meta property="og:title" content="<%= @rubrique.title %>">
  <meta property="og:description" content="@rubrique.description.html_safe">
<% end %>

<div class="container clearfix">
  <div class="table articles  page-edito ">
    <section class="left-article table-cell">
      <!-- left-article -->
      <article class="clearfix edito">
        <div class="table">
          <div class="body-edito table-cell">
            <header>
              <h1 class='podcast-title'><%= @rubrique.title %></h1>
              <p class="author"><%= "Rubrique proposée par " + @rubrique.intervenant.nom %>.</p>
            </header>
          </div>
        </div>
      </article>
      <!-- last article -->
      <div class="last-post clearfix">
        <article class=" on" style="height: 296px;">
          <div class="clearfixd">
            <div class="infos-right">
              <span class="cat"></span>
              <h2><%= @rubrique.title %></h2>
              <p class="author"><%= @rubrique.intervenant.nom %></p>
            </div>
          </div>
          <div class="entry-content">
            <div>
              <p class="aerian">"<%= @rubrique.description.html_safe %>"</p>
            </div>
          </div>
          <span class="icon-top"><i class="sprite etat"></i></span>
        </article>
        <br>
        <div class="clearfix"></div>
        <!-- <div class="sep-art"></div> -->   
      </div>
      <!-- liste journal -->
      <div class="last-num">
        <ul class="clearfix">
          <li class="view-all"><%= link_to 'VOIR TOUTES LES RUBRIQUES', rubriques_path %></li>
        </ul>
      </div>
    </section>
  </div>
</div>