<%= form_for(bada) do |f| %>
  <% if bada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bada.errors.count, "error") %> prohibited this bada from being saved:</h2>

      <ul>
      <% bada.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :lien %>
    <%= f.text_field :lien %>
  </div>

  <div class="field">
    <%= f.label :podcast_id %>
    <%= f.text_field :podcast_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
