
<div class="container page-authentification">

  <span style="font-size: 27px;"><strong class="first">Des badas </strong> pour approfondir les discussions en public</span>
  <p>Dans « Le Voleur dans la maison vide », Jean-François Revel rappelle que, dans le Marseille de son enfance, Bada, était le le nom donné au supplément que les marchands de glace étaient moralement tenus d'offrir aux acheteurs de leurs cornets…
  <br>Nos Badas, en  ces temps de confinement, ce sont des suppléments à nos conversations hebdomadaires. Entretiens, thématiques, documents, ils sont une autre façon de contribuer à la compréhension de la situation et à la réflexion sur ses conséquences et ses issues.</p>
  <p>Amitiés,<br> Ph. M.</p>
  <div class="result">
    <script src='//w.soundcloud.com/player/api.js'></script>
    <div class="article-search archive">
      <% @badas.each do |bada| %>
        <article>
          <h3>
            <%= link_to bada.title + " du " + bada.podcast.created_at.strftime("%d-%m-%Y"), bada, class: 'author' %>
          </h3>
          <span class="num-date"></span>
          <iframe src="<%= bada.lien %>/embed" style="width: 100%; height: 200px; border: 0 none;" scrolling="no"></iframe>
          <%= link_to "Voir le podcast à l'origine de ce bada", bada.podcast, class: 'author' %>
        </article>
        <br>
      <% end %>
      <div class="nav-article">                  
        <%= paginate @badas %>
      </div>
    </div>
  </div>
</div>
