<div class="container clearfix">
  <div class="table articles  page-edito ">
    <section class="left-article table-cell">
      <!-- left-article -->
      <article class="clearfix edito">
        <div class="table">
          <div class="body-edito table-cell">
            <header>
              <h1 class='podcast-title'><%= @bada.title %></h1>
            </header>
            <iframe src="<%= @bada.lien %>/embed" style="width: 100%; height: 200px; border: 0 none;" scrolling="no"></iframe>
            <%= link_to "Voir le podcast à l'origine de ce bada", @bada.podcast, class: 'author' %>
          </div>
        </div>
        <% if @bada.transcript %>
          <h3 id="kontildondit1">Kontildondit ?</h3>
          <p class='intro-podcast aerian' style="font-family:ArcherLight;" ><%= @bada.transcript.html_safe %></p>
        <% end %>
      </article>
      <!-- last article -->
      <!-- liste journal -->
      <div class="last-num">
        <ul class="clearfix">
          <li class="view-all"><%= link_to 'VOIR TOUS LES BADAS', badas_path %></li>
        </ul>
      </div>
    </section>
  </div>
</div>