<div id="center_column">
  <div class="container page-authentification">
    <div class="ak-title">S'ABONNER</div>
    <div class="line-abo first with-padding">
      <!-- <div class="line-title red"><span class="number">1</span> Identiﬁez-vous</div> -->
      <div class="ak-login">
        <div class="table">
          <div class="table-cell">
            <!-- <span class="separator"></span> -->
            <div class="inner-login">
              <div class="title-row red">
                Le soutien mensuel défiscalisé
                <span>Le soutien ci-dessous est un soutien mensuel défiscalisé à 66% pour les particuliers, 60% pour les entreprises. Par exemple, un soutien de 30€ ne vous coûtera que 10 € par mois.</span>
                <br>

                  <a class="custom-dbox-popup" href="https://donorbox.org/le-nouvel-esprit-public" style="background: #9d3934 url(https://donorbox.org/images/white_logo.svg) no-repeat 45px;color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 15px 45px;padding-left: 70px;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;">
                    Nous soutenir
                  </a>

                  <script type="text/javascript" defer src="https://donorbox.org/install-popup-button.js" id="donorbox-popup-button-installer"> </script>
                  <script> window.DonorBox = { widgetLinkClassName: 'custom-dbox-popup' } </script> 

                <div ></div><br>

                <span>Si vous êtes déjà soutien et que vous voulez augmentez votre contribution vous pouvez:</span>
                  <span>- Soit le faire dans votre espace personnel sur le site <a href="https://www.okpal.com/account/signin?next=https%3A%2F%2Fwww.okpal.com%2F">OK Pal</a> via l'onglet mes contributions</span>
                  <span>- Soit faire votre nouvelle contribution via l'onglet Nous soutenir sur notre site, et annuler votre ancienne contribution sur le site OK Pal toujours via l’onglet Mes contributions. Dans ce cas, votre contribution sera enregistrée sur le site Donorbox, nouvellement installé par J’Aime l’Info et qui permet de recevoir immédiatement le reçu de votre contribution</span>
                </span>
              </div>
            </div>
          </div>
          <div class="table-cell">
            <div class="inner-login">
              <div class="title-row red">
                Le soutien ponctuel défiscalisé
                <span>Pour nous soutenir ponctuellement, vous pouvez nous adresser :</span>
              </div>
              <div class="text center">
                <p>- un chèque libellé à l’ordre de :
                <p>Le Nouvel Esprit public J’aime l’Info<br>4 rue La Vrillière<br>75001 Paris</p>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="wrap-popup-contact"></div>
  <div id="popup-contact">
    <div class="inner">
      <div class="close_contact" id="close_contact"><i class="icon-close"></i></div>
      <h3 class="title">Abonnez-vous !</h3>
      <div class="table first">
        <div class="table-cell"> <img src="/assets/apple.svg" width="200" alt=""> </div>
        <div class="table-cell"> <img src="/assets/soundcloud.png" width="65" alt=""> </div>
      </div>
      <div class="table">
        <div class="table-cell">
          <div class="only-mobile alig-center"> <img src="" width="65" alt=""> </div>
          <div class="txt">
            <h2>ITUNES</h2>
            <br />
            <p>Le Nouvel Esprit Public est disponible sur iTunes</p>
          </div>
          <div class="align-center"><a href="https://itunes.apple.com/fr/podcast/le-nouvel-esprit-public/id1279728744?mt=2" class="ak-btn">JE M'ABONNE SUR ITUNES</a></div>
        </div>
        <div class="table-cell">
          <div class="only-mobile alig-center"> <img src="/assets/soundcloud.png" width="65" alt=""> </div>
          <div class="txt">
            <h2>SOUNDCLOUD</h2>
            <br />
            <p>Le Nouvel Esprit Public est aussi disponible sur Soundcloud</p>
          </div>
          <div class="align-center"><a href="https://soundcloud.com/user-102568040 " class="ak-btn">JE M'ABONNE SUR SOUNDCLOUD</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
