<section id="ak-home">
  <div class="ak-cover" style=""></div>
  <div style="height: 100vh;width: 100%;position: relative;background-image:url('assets/nep4.jpeg')" class="wrap-cover">
    <div class="block-subscription">
      <a href="/abonnement" class="top" onclick="ga('send', 'event', 'Bouton s’abonner', 'clicked', 's’abonner (1)');" ><span class="align-middle">Soutenez-nous</span> <!-- <i class="ico-journal"></i> --></a>
      <div class="ak-auth">
        <a href="/podcasts">LES PODCASTS<!-- <i class="ak-icon acount"></i> --></a>
      </div>
    </div>
    <div class="bar-details">
      <div class="clearfix">
        <!-- <a href="#" class="ak-couv ak-open-contact">
          <img src="/assets/nep2.jpg">
          <span style="background:#9A0524;color: #FFFFFF;">  S'ABONNER </span>
          <div class="cov-rollover">
            <div class="text"> S'ABONNER </div>
          </div>
        </a> -->
      </div>
      <div class="footer-home clearfix">
        <a href="#listen" class="first">
        <strong>LE NOUVEL ESPRIT PUBLIC VA DE L’AVANT</strong> <i class="ak-icon down-red"></i>
        <!-- <strong>Une conversation</strong> pour éclairer l'actualité <i class="ak-icon down-red"></i> -->
        </a>
        <a href="#" class="last scroll-to-bottom">
        </a>
      </div>
    </div>
  </div>
  <div class="decouverte" style="position: relative;z-index: 5;padding: 20px;" id="decouvrir">
    <div class="clearfix"  id="sticky">
      <div class="new-sub-block">
        <div class="text">
          Soutenez-nous.<br>

        </div>
        <a class="link" href="/abonnement"><span >Cliquez ici</span></a>
      </div>
    </div>
    <div id="section-decouverte">
      <!-- section -->
      <!-- <div class="intro-decouverte clearfix">
        <div class="image"><img src="/assets/brain.png" alt=""></div>
        <div class="text">
          <h2><strong> <br /></strong></h2>
          <p><strong>Depuis le 10 septembre 2017, nos conversations hebdomadaires ont repris en podcast. Ecoute, respect et préparation en amont restent la marque de ce Nouvel Esprit public.<br /><br /></strong></p>
        </div>
      </div> -->
      <div class="decouverte-slider section  equipe-5  " id="listen">
        <div class="content-slider1">
<!--           <div class="texte">
            <h2 class="title center" style="font-size: 23px !important">A LA RECHERCHE DE NOUVEAUX DONS (défiscalisés) POUR DE NOUVEAUX PROJETS</h2>
          </div> -->
        </div>
        <article>
          <span class="num-date"></span>
          <p>
            <strong>Lancé en septembre 2017 à la demande d’auditeurs que chagrinait la décision de Radio France de mettre fin à notre conversation hebdomadaire, Le Nouvel Esprit public a </strong> tranquillement (re)trouvé une audience qui apprécie les analyses documentées dans un univers saturé de débats de coqs, de conformisme intellectuel, de crainte révérencielle des réseaux sociaux, de fétichisation des mesures d’audience et de l’énervement permanent produit par de constants et inconsistants bruits de bouche baptisés « polémiques ».
          </p>
          <p>
            <strong>Toutes nos émissions font l’objet d’un compendium :</strong> vous pouvez ainsi nous écouter et nous lire. Vous pouvez vous y abonner gratuitement (onglet Recevoir le compendium) et le recevoir chaque mercredi dans votre boite aux lettres.
          </p>
          <p>
            <strong>Nos émissions thématiques sont accessibles directement</strong> par un onglet dédié depuis septembre 2021.
          </p>
          <p>
            <strong>Notre équipe s’est élargie –</strong> et elle continuera à le faire, elle a récemment accueilli Michel Eltchaninoff, rédacteur en chef de Philosophie Magazine, Isabelle de Gaulmyn, rédactrice en chef de La Croix et David Djaïz, ancien Rapporteur général du Conseil de la Refondation, co-président de Bona Fide.
          </p>
          <p>
            <strong>Chaque mercredi, nous mettons en ligne un supplément,</strong> un « bada », intitulé « Si c’est pour la culture on a déjà donné ». Il propose à des acteurs et des artisans du monde culturel de dire de quoi est fait leur métier. Acteur, réalisatrice, directeur d’opéra, directrice de centre dramatique national, scénaristes, animatrice de cinéma en milieu rural, libraire, conseiller culturel à l’étranger, clown, directeur de musée, régisseusse de théâtre, directrice d’une fondation d’art contemporain en Afrique, directeur de salles de cinéma à Paris, agent d’artistes, animateur d’un centre culturel en Bretagne, danseur étoile, créateur d’une plateforme de musique classique en ligne, créateur d’une lettre d’information : ils et elles se sont succédé à nos micros et continueront de le faire pendant la saison prochaine.
          </p>
          <p>
            <strong>Nos émissions en public à l’École alsacienne</strong> continuent à un rythme mensuel, toujours suivies d’un échange avec le public enregistré puis mis en ligne le mercredi suivant. Leurs dates sont annoncées sur les réseaux sociaux et par notre lettre d’information..
          <p>
            <strong>Le Nouvel Esprit public a été adoubé</strong> par la Commission Paritaire des Publications et Agences de Presse (CPPAP). Cette reconnaissance de notre travail d’information nous donne la possibilité de recevoir des <strong>dons défiscalisés à la hauteur de 66%</strong> de leur montant pour les particuliers et de 60% pour les entreprises.
          </p>
          <p>Au fil des précédentes années, nous avons reçu de généreux soutiens ponctuels. Ils représentent 40% des dons, c’est dire si nous les apprécions. Les contributions mensuelles, quant à elles, nous permettent d’avoir une visibilité sur nos finances et donc de prendre des initiatives en matière d’équipement, d’organisation d’émissions publiques hors Paris, de développement de notre site etc… Il va de soi que tous les dons sont accueillis avec gratitude. <strong>Toutefois</strong>, sachant <strong>que si 140 auditeurs nous soutiennent à hauteur de 30€ par mois</strong>, (ce qui ne leur en coûtera que 10€ après défiscalisation), nous serons assurés d’une rentrée annuelle de 50.000€. Mais si <strong>210 d’entre vous nous font un don mensuel de 20€ (7€ après défiscalisation)</strong>, le même résultat sera atteint…
          </p>
          </p>
            Soyez cordialement remerciés de votre soutien et de vos encouragements,<br>
            <strong>Philippe Meyer</strong>
          </p>
        </article>
      </div>
      <div class="decouverte-slider section  equipe-5  " id="listen">
        <div class="content-slider1">
          <div class="texte">
            <h2 class="title">Ecoutez la dernière émission<%# @podcast.title %></h2>
          </div>
        </div>
        <article>
          <span class="num-date"></span>
          <% if @podcast.lien.include?('audiomeans') %>
            <iframe src="<%= @podcast.lien %>/embed" style="width: 100%; height: 150px; border: 0 none;" scrolling="no"></iframe>
          <% else %>
            <iframe src="<%= @podcast.lien %>/embed" style="width: 100%; height: 200px; border: 0 none;" scrolling="no"></iframe>
          <% end %>
          <%= link_to "Voir la présentation des sujets et les brèves de l'épisode", @podcast, class: 'name1' %>
        </article>
      </div>

      <div class="ak_wrapper section" id="section-12">
        <div class="image first col brain" style="background-image: url(/assets/dimanchenb.jpg);">
          <div class="inner-col">
            <img src="/assets/brain.png" alt="">
          </div>
        </div>
        <div class="col last text">
          <div class="inner-col">
            <h2  class="add-margin"  >CHAQUE DIMANCHE</h2>
            <div>nous mettons en ligne notre podcast. Cette émission audio s'écoute à la demande et gratuitement, sur ordinateur et téléphone mobile. Les émissions originales du Nouvel Esprit public sont conçues pour être écoutées en différé. Vous décidez du lieu et du moment. Vous pouvez les réécouter à votre guise.
            </div>
            <br>
            </br>
            <img src="/assets/ministere.png" alt="" style="max-width: 250px;">
          </div>
        </div>
      </div>
      <div class="ak_wrapper section" id="section-16">
        <div class="text first col">
          <div class="inner-col">
            <h2   class="add-margin" >L’ART DE LA CONVERSATION</h2>
            <div>  « Votre émission, dans cette période si déroutante et si inquiétante, est un havre qui nous permet de croire qu’il est encore possible de prendre le temps de d'essayer de comprendre ce qui nous arrive. »  Ce courriel d’une auditrice en résume quantité d’autres. Les auditeurs apprécient les échanges documentés, l’écoute attentive, l’ambiance cordiale de cette conversation entre quatre intervenants modérés avec humour par Philippe Meyer. Venus d'horizons divers, ils ont le loisir de s’exprimer complètement et le souci de se répondre. Ils ne cherchent pas à imposer leurs convictions mais à éclairer leur auditoire. D’où le compliment le plus fréquent qu’ils reçoivent : « Après vous avoir écouté, on se sent plus intelligents ».
            </div>
          </div>
        </div>
        <div class="col last image" style="background-image: url(/assets/conversation.png);" >
          <div class="inner-col">
            <img src="/assets/conversation.png" alt="">
          </div>
        </div>
      </div>
      <!-- <div class="ak_wrapper section" id="section-18">
        <div class="image first col" style="background-image: url(https://le1hebdo.fr/img/decouvrir/18.jpg);">
          <div class="inner-col">
            <img src="https://le1hebdo.fr/img/decouvrir/18.jpg" alt="">
          </div>
        </div>
        <div class="col last text">
          <div class="inner-col">
            <h2  class="add-margin"  >NOTRE INDÉPENDANCE C'EST VOUS !</h2>
            <div>Le 1 ne dépend d’aucun groupe financier ni publicitaire.
              Pour vous garantir une information fiable, loin de toutes pressions, nous avons fait le choix de l’indépendance et du sans publicité.
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="clearfix citation section" id="section-13">
        <div class="image">
          <div class="left"><img src="https://le1hebdo.fr/img/decouvrir/13.jpg" alt=""></div>
        </div>
        <div class="text">
          <div class="right">
            <i class="ak-icon quote"></i>
            <p><em>Voir loin, avoir la mémoire et l’impatience de l’avenir, donner le goût de transmettre et de découvrir : voici l’ambition tracée pour ce journal 1-sensé que nous rêvons de rendre pour vous, chaque semaine, 1-dispensable.</em></p>
            <p class="p1"><strong>Éric Fottorino, directeur de la publication</strong></p>
          </div>
        </div>
      </div> -->
      <!-- <div class="ak_wrapper section" id="section-17">
        <div class="text first col">
          <div class="inner-col">
            <h2   class="add-margin" >1 HEURE DE LECTURE</h2>
            <div>Le 1 se lit du début à la fin. <br />16 pages et une heure de lecture. <br /> Pour vous aérer le cerveau, le muscler avec de nouvelles idées.</div>
          </div>
        </div>
        <div class="col last image" style="background-image: url(https://le1hebdo.fr/img/decouvrir/17.jpg);" >
          <div class="inner-col">
            <img src="https://le1hebdo.fr/img/decouvrir/17.jpg" alt="">
          </div>
        </div>
      </div> -->
      <div class="decouverte-slider section  equipe-5  " id="equipe">
        <div class="content-slider">
          <div class="texte">
            <h2 class="title">QUI FAIT LE NOUVEL ESPRIT PUBLIC ?</h2>
            <p>Nos auditeurs ont vite été sensibles à l’esprit de camaraderie qui caractérise nos échanges et nos divergences. Au fil des années, nous avons formé une véritable équipe, appelée à s’enrichir de nouvelles recrues, et qui rassemble d'ores et déjà :
            </p>
          </div>
        </div>
        <div class="images" id="slick-slider">
          <a href="/intervenant/<%= Intervenant.find_by_nom("Philippe Meyer").id %> " class="el " style="float: left; height: 100%; min-height: 1px;">
            <div><img src="assets/pm.png" alt=""></div>
            <span class="name"><%= Intervenant.find_by_nom("Philippe Meyer").nom %></span>
            <span class="desc"></span>
          </a>
          <a href="/intervenant/<%= Intervenant.find_by_nom("Jean-Louis Bourlanges").id %>" class="el " style="float: left; height: 100%; min-height: 1px;">
            <div><img src="assets/jlb.png" alt=""></div>
            <span class="name"><%= Intervenant.find_by_nom("Jean-Louis Bourlanges").nom %></span>
            <span class="desc"></span>
          </a>
          <a href="/intervenant/<%= Intervenant.find_by_nom("Nicole Gnesotto").id %>" class="el " style="float: left; height: 100%; min-height: 1px;">
            <div><img src="assets/ng.png" alt=""></div>
            <span class="name"><%= Intervenant.find_by_nom("Nicole Gnesotto").nom %></span>
            <span class="desc"></span>
          </a>
          <a href="/intervenant/<%= Intervenant.find_by_nom("Marc-Olivier Padis").id %>" class="el " style="float: left; height: 100%; min-height: 1px;">
            <div><img src="assets/mop.png" alt=""></div>
            <span class="name"><%= Intervenant.find_by_nom("Marc-Olivier Padis").nom %></span>
            <span class="desc"></span>
          </a>
          <a href="/intervenant/<%= Intervenant.find_by_nom("Michaela Wiegel").id %> " class="el " style="float: left; height: 100%; min-height: 1px;">
            <div><img src="assets/mw.png" alt=""></div>
            <span class="name"><%= Intervenant.find_by_nom("Michaela Wiegel").nom %></span>
            <span class="desc"></span>
          </a>
          <a href="/intervenant/<%= Intervenant.find_by_nom("Nicolas Baverez").id %> " class="el " style="float: left; height: 100%; min-height: 1px;">
            <div><img src="assets/nb.png" alt=""></div>
            <span class="name"><%= Intervenant.find_by_nom("Nicolas Baverez").nom %></span>
            <span class="desc"></span>
          </a>
          <a href="/intervenant/<%= Intervenant.find_by_nom("François Bujon de L’Estang").id %> " class="el " style="float: left; height: 100%; min-height: 1px;">
            <div><img src="assets/fbe.png" alt=""></div>
            <span class="name"><%= Intervenant.find_by_nom("François Bujon de L’Estang").nom %></span>
            <span class="desc"></span>
          </a>
          <a href="/intervenant/<%= Intervenant.find_by_nom("Béatrice Giblin").id %> " class="el " style="float: left; height: 100%; min-height: 1px;">
            <div><img src="assets/bg.png" alt=""></div>
            <span class="name"><%= Intervenant.find_by_nom("Béatrice Giblin").nom %></span>
            <span class="desc"></span>
          </a>
          <a href="/intervenant/<%= Intervenant.find_by_nom("Eric Le Boucher").id %> " class="el " style="float: left; height: 100%; min-height: 1px;">
            <div><img src="assets/elb.png" alt=""></div>
            <span class="name"><%= Intervenant.find_by_nom("Eric Le Boucher").nom %></span>
            <span class="desc"></span>
          </a>
          <a href="/intervenant/<%= Intervenant.find_by_nom("François Sureau").id %> " class="el " style="float: left; height: 100%; min-height: 1px;">
            <div><img src="assets/fs.png" alt=""></div>
            <span class="name"><%= Intervenant.find_by_nom("François Sureau").nom %></span>
            <span class="desc"></span>
          </a>
          <a href="/intervenant/<%= Intervenant.find_by_nom("Lionel Zinsou").id %> " class="el " style="float: left; height: 100%; min-height: 1px;">
            <div><img src="assets/lz.png" alt=""></div>
            <span class="name"><%= Intervenant.find_by_nom("Lionel Zinsou").nom %></span>
            <span class="desc"></span>
          </a>
          <a href="/intervenant/<%= Intervenant.find_by_nom("Eric Fottorino").id %> " class="el " style="float: left; height: 100%; min-height: 1px;">
            <div><img src="assets/ef.png" alt=""></div>
            <span class="name"><%= Intervenant.find_by_nom("Eric Fottorino").nom %></span>
            <span class="desc"></span>
          </a>
          <a href="/intervenant/<%= Intervenant.find_by_nom("Lucile Schmid").id %> " class="el " style="float: left; height: 100%; min-height: 1px;">
            <div><img src="assets/ls.png" alt=""></div>
            <span class="name"><%= Intervenant.find_by_nom("Lucile Schmid").nom %></span>
            <span class="desc"></span>
          </a>
          <a href="/intervenant/<%= Intervenant.find_by_nom("Richard Werly").id %> " class="el " style="float: left; height: 100%; min-height: 1px;">
            <div><img src="assets/rw.png" alt=""></div>
            <span class="name"><%= Intervenant.find_by_nom("Richard Werly").nom %></span>
            <span class="desc"></span>
          </a>
          <a href="/intervenant/<%= Intervenant.find_by_nom("David Djaïz").id %> " class="el " style="float: left; height: 100%; min-height: 1px;">
            <div><img src="assets/db.png" alt=""></div>
            <span class="name"><%= Intervenant.find_by_nom("David Djaïz").nom %></span>
            <span class="desc"></span>
          </a>
          <a href="/intervenant/<%= Intervenant.find_by_nom("Matthias Fekl").id %> " class="el " style="float: left; height: 100%; min-height: 1px;">
            <div><img src="assets/mf.jpeg" alt=""></div>
            <span class="name"><%= Intervenant.find_by_nom("Matthias Fekl").nom %></span>
            <span class="desc"></span>
          </a>
          <a href="/intervenant/<%= Intervenant.find_by_nom("Akram Belkaïd").id %> " class="el " style="float: left; height: 100%; min-height: 1px;">
            <div><img src="assets/ab.jpeg" alt=""></div>
            <span class="name"><%= Intervenant.find_by_nom("Akram Belkaïd").nom %></span>
            <span class="desc"></span>
          </a>
          <a href="/intervenant/<%= Intervenant.find_by_nom("Isabelle de Gaulmyn").id %> " class="el " style="float: left; height: 100%; min-height: 1px;">
            <div><img src="assets/ig.jpeg" alt=""></div>
            <span class="name"><%= Intervenant.find_by_nom("Isabelle de Gaulmyn").nom %></span>
            <span class="desc"></span>
          </a>
        </div>
        <div id="slide-prev"><i class="ak-icon prev-slider"></i></div>
        <div id="slide-next"><i class="ak-icon next-slider"></i></div>
      </div>
      <!-- <div class="title-sub section" id="formulaire">
        <p>FAITES-VOUS VOTRE AVIS !</p>
        <p><strong>L’ÉQUIPE DU JOURNAL</strong><br /><strong>LE 1 VOUS OFFRE SON</strong><br /><strong>PROCHAIN NUMÉRO.</strong></p>
      </div>
      <div class="ak_wrapper form-sub">
        <div class=" first col">
          <div class="inner-col">
            <div class="list">
              <ul>
                <li>Renseignez vos coordonnées postales<br />sans aucun engagement</li>
                <li>Accédez immédiatement à tous les <br />contenus du 1 en ligne pendant 7 jours</li>
                <li>Mercredi prochain, recevez le nouveau <br />numéro dans votre boîte aux lettres</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col last">
          <div class="inner-col">
            <form class="" action="#formulaire" method="post">
              <div class="ak-form-row"></div>
              <p class="ak-form-row ">
                <input type="text" class="ak-input" name="lastname" value="" placeholder="Nom">
              </p>
              <p class="ak-form-row ">
                <input type="text" class="ak-input" name="firstname" value=""  placeholder="Prénom">
              </p>
              <p class="ak-form-row ">
                <input type="text" class="ak-input" maxlength="40" name="address1" value="" placeholder="Adresse">
              </p>
              <p class="ak-form-row ">
                <input type="text" class="ak-input" name="postcode" value="" placeholder="Code postal">
              </p>
              <p class="ak-form-row ">
                <input type="text" class="ak-input" name="ville" value="" placeholder="Ville">
              </p>
              <p class="ak-form-row ">
                <input type="text" class="ak-input" name="email" value="" placeholder="E-mail">
              </p>
              <input type="hidden" name="id_country"  value="8" />
              <p class="ak-form-row">
                <button class="ak-btn" name="Submit" id="Submit" type="submit" onclick="ga( 'send', 'event', 'FORMULAIRE GRATUIT', 'submit' );" >VALIDER MON INSCRIPTION</button>
              </p>
            </form>
          </div>
        </div>
      </div> -->
      <div class="ak_wrapper form-sub auth-block">
        <div class=" first col">
          <div class="inner-col">
            <!-- <h3 class="title">Vous voulez être tenus au courant des dernières émissions ?</h3>
            <div class="description">
              Le Nouvel Esprit public est un podcast indépendant. Pour le recevoir chaque dimanche et l'écouter en ligne, abonnez-vous.
            </div> -->
            <a href="#" class="ak-btn ak-open-contact" onclick="ga('send', 'event', 'Bouton s’abonner', 'clicked', 's’abonner (2)');">nous écouter</a>
          </div>
        </div>
        <!-- <div class="col last">
          <div class="inner-col">
            <h3 class="title">Vous &ecirc;tes d&eacute;j&agrave; abonn&eacute; et souhaitez nous aider en règlant 4€ par mois ?</h3>
            <div><a href="/abonnement" class="ak-link">Soutenez-vous</a></div>
          </div>
        </div> -->
      </div>
    </div>
    <!-- end section -->
  </div>
</section>

</div>
