<div class="container page-authentification">

  <span style="font-size: 27px;"><strong class="first">Nos lettres d'information</strong></span>
  <p>Vous trouverez ci-dessous nos communications envoyées dans notre newsletter, à laquelle vous pouvez vous abonner sur l'onglet en haut à gauche ci-dessous :</p>
  <div class="result">
    <div class="article-search archive">
      <iframe id="inlineFrameExample"
          title="Inline Frame Example"
          width="100%"
          height="800"
          src="<%= @mailchimp_link.lien %>">
      </iframe>
    </div>
  </div>
</div>