<div id="cms" class="container">
   <div class="rte">
      <h1><strong>MENTIONS LÉGALES</strong></h1>
      <p> </p>
      <p><strong> LE PHOENIX SASU au capital de 10.000 euros</strong></p>
      <p>RCS Paris B 799 483 953</p>
      <p><strong>Code activité</strong>&nbsp;: NAF 6391Z</p>
      <p><strong>Siège social</strong>&nbsp;: LLE PHOENIX SASU - 4 rue la Vrillière, 75001 PARIS</p>
      <p><strong>N° Siret</strong>&nbsp;: 832 360 101 00014</p>
      <p><strong>Président</strong>&nbsp;: Philippe MEYER</p>
      <p><strong>Directeur de la publication</strong>&nbsp;: Philippe MEYER</p>
      <p><strong>Hébergeur</strong>&nbsp;: HEROKU, INC., The Landmark @ One Market Street, Suite 300,  San Francisco CA 94105 (Etats-Unis) – téléphone : +448008085158</p>
      <p>&nbsp;</p>
   </div>
   <br>
</div>