<div class="container">
  <div class="block-title clearfix">
    <!-- <img src="/journal/styles/img/partenaires.png" width="150" style="margin-left:0" alt="nos partenaires"> -->
    <h2>NOS PARTENAIRES</h2>
  </div>
  <div class="partenaires clearfix">
    <div class="b-p">
      <div class="logo">
        <div class="title">Nouvelles Ecoutes</div>
        <div class="img">			
          <a href="https://www.nouvellesecoutes.fr/" target="_blank"><img src="assets/ne.png" alt="Nouvelles Ecoutes"></a>
        </div>
      </div>
      <div class="cp">
        <p>Studio de podcasts</p>
        <a href="" target="_blank" class="link"></a>
      </div>
    </div>
    <div class="b-p">
      <div class="logo">
        <div class="title">Le 1 hebdo</div>
        <div class="img">     
          <a href="https://le1hebdo.fr/" target="_blank"><img src="assets/le1.png" alt="Le 1 hebdo"></a>
        </div>
      </div>
      <div class="cp">
        <p>Un journal pour comprendre le monde</p>
        <a href="" target="_blank" class="link"></a>
      </div>
    </div>
    <div class="b-p">
      <div class="logo">
        <div class="title">L'arrière Boutique</div>
        <div class="img">     
          <a href="https://www.larriere-boutique.com/" target="_blank"><img src="assets/arriereboutique.png" alt="L'arrière boutique"></a>
        </div>
      </div>
      <div class="cp">
        <p>Studio et agence sonore</p>
        <a href="" target="_blank" class="link"></a>
      </div>
    </div>
  </div>
  <div class="partenaires clearfix">
    <div class="b-p">
      <div class="logo">
        <div class="title">L'Ecole Alsacienne</div>
        <div class="img">     
          <a href="https://www.ecole-alsacienne.org/" target="_blank"><img src="assets/alsacienne.jpeg" alt="L'Ecole Alsacienne"></a>
        </div>
      </div>
      <div class="cp">
        <p>Etablissement privé laïque sous contrat d'association avec l'État.</p>
        <a href="" target="_blank" class="link"></a>
      </div>
    </div>
    <div class="b-p">
      <div class="logo">
        <div class="title">MMA</div>
        <div class="img">     
          <a href="https://www.mma.fr/" target="_blank"><img src="assets/mma.png" alt="MMA"></a>
        </div>
      </div>
      <div class="cp">
        <p>Groupe d'assurance mutuelle française soutenant nos thématiques et les faisant découvrir à ses employés et assurés.</p>
        <a href="" target="_blank" class="link"></a>
      </div>
    </div>
    <div class="b-p">
      <div class="logo">
        <div class="title">October</div>
        <div class="img">     
          <a href="https://www.october.eu/lnep" target="_blank"><img src="assets/october.jpg" alt="October"></a>
        </div>
      </div>
      <div class="cp">
        <p>October - plateforme de prêt aux entreprises de 30.000€ à 5.000.000€- pour le financement de tous les moments clés de leur croissance. Nouveau modèle de financement complémentaire des banques traditionnelles et innovant par sa technologie.  Solution simple et rapide : sans paperasse et versement des fonds sous 7 jours après le premier contact.</p>
        <a href="" target="_blank" class="link"></a>
      </div>
    </div>
  </div>
</div>
