<div id="center_column">
  <div class="container page-authentification">
    <div class="ak-title">METTRE A JOUR SES INFORMATIONS</div>
    <div class="line-abo first with-padding">
      <!-- <div class="line-title red"><span class="number">1</span> Identiﬁez-vous</div> -->
      <div class="ak-login">
        <div class="table">
          <div class="table-cell">
            <!-- <span class="separator"></span> -->
            <div class="inner-login">
              <div class="title-row red">
                Vous souhaitez renouveler votre soutien sur la durée ?
                <span>Merci de votre soutien, pour mettre à jour votre abonnement, merci de préciser l’abonnement que vous soutenez. Tous les abonnements sont résiliables à tout moment par simple envoi d'un courriel à contact.lenouvelespritpublic@gmail.com. Un abonnement est le meilleur moyen durable de soutenir l'émission.</span>
              </div>
              <%= form_tag updatecards_path, id: 'login_form', class: 'box' do %>
                <script src="https://checkout.stripe.com/checkout.js"></script>
                <%= hidden_field_tag 'stripeToken' %>
                <%= hidden_field_tag 'stripeEmail' %>

                <div class="ak-form">
                  <div class="row-form form-ok">
                    <label for="passwd">Abonnement souhaité</label>
                    <select name="stripePlan" id= "stripeAmount" class="is_required validate account_input input">

                      <!-- <input type="radio" value="BASENEP2018">
                      <label for="BASENEP2018">Base - 5€ par mois</label>
                      <input type="radio" value="ACCOMPAGNEMENTNEP2018">
                      <label for="ACCOMPAGNEMENTNEP2018">Accompagnement - 10€ par mois</label>
                      <input type="radio" value="ENCOURAGEMENTNEP2018">
                      <label for="contactChoice1">Encouragement - 15€ par mois</label>
                      <input type="radio" value="PARRAINAGENEP2018">
                      <label for="contactChoice1">Parrainage - 30€ par mois</label> -->
                      <option value="ACCOMPAGNEMENTNEP2018">Accompagnement - 10€ par mois</option>
                      <option value="BASENEP2018">Base - 5€ par mois</option>
                      <option value="ENCOURAGEMENTNEP2018">Encouragement - 15€ par mois</option>
                      <option value="PARRAINAGENEP2018">Parrainage - 30€ par mois</option>
                      <option value="SOUTIENNEP2018">Soutien - 60€ par mois</option>
                    </select>                    
                  </div>
                  <div class="row-submit">
                    <button type="submit" id="SubmitLogin" name="SubmitLogin" class="ak-btn">Soutenir</button>
                  </div>
                </div>
                <script>
                  var handler = StripeCheckout.configure({
                    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
                    locale: 'auto',
                    token: function(token, arg) {
                      document.getElementById("stripeToken").value = token.id;
                      document.getElementById("stripeEmail").value = token.email;
                      document.getElementById("login_form").submit();
                    }
                  });
                   document.getElementById('SubmitLogin').addEventListener('click', function(e) {
                    handler.open({
                      name: "Le Nouvel Esprit public",
                      description: "Je soutiens le Nouvel Esprit public.",
                      amount: parseInt(document.getElementById("stripeAmount").value),
                      currency: "eur"
                  });
                  e.preventDefault();
                  })
                </script>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="wrap-popup-contact"></div>
  <div id="popup-contact">
    <div class="inner">
      <div class="close_contact" id="close_contact"><i class="icon-close"></i></div>
      <h3 class="title">Abonnez-vous !</h3>
      <div class="table first">
        <div class="table-cell"> <img src="/assets/apple.svg" width="200" alt=""> </div>
        <div class="table-cell"> <img src="/assets/soundcloud.png" width="65" alt=""> </div>
      </div>
      <div class="table">
        <div class="table-cell">
          <div class="only-mobile alig-center"> <img src="" width="65" alt=""> </div>
          <div class="txt">
            <h2>ITUNES</h2>
            <br />
            <p>Le Nouvel Esprit Public est disponible sur iTunes</p>
          </div>
          <div class="align-center"><a href="https://itunes.apple.com/fr/podcast/le-nouvel-esprit-public/id1279728744?mt=2" class="ak-btn">JE M'ABONNE SUR ITUNES</a></div>
        </div>
        <div class="table-cell">
          <div class="only-mobile alig-center"> <img src="/assets/soundcloud.png" width="65" alt=""> </div>
          <div class="txt">
            <h2>SOUNDCLOUD</h2>
            <br />
            <p>Le Nouvel Esprit Public est aussi disponible sur Soundcloud</p>
          </div>
          <div class="align-center"><a href="https://soundcloud.com/user-102568040 " class="ak-btn">JE M'ABONNE SUR SOUNDCLOUD</a></div>
        </div>
      </div>
    </div>
  </div>
</div>