<%= form_for(book) do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titre %>
    <%= f.text_field :titre %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="form-group">
    <%= f.label :image %>    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :podcast_id %>
    <%= f.text_field :podcast_id %>
  </div>

  <div class="field">
    <%= f.label :intervenant_id %>
    <%= f.text_field :intervenant_id %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
