<div class="container clearfix">
  <div class="table articles  page-edito ">
    <section class="left-article table-cell">
      <!-- left-article -->
      <article class="clearfix edito">
        <div class="table">
          <div class="body-edito table-cell">
            <header>
              <h1 class='podcast-title'>Les brèves</h1>
            </header>
            <% form_tag books_path, :method => 'get' do %>
              <p>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "Search", :name => nil %>
              </p>
            <% end %>
          </div>
        </div>
      </article>
      <!-- last article -->
      <div class="last-post clearfix">
        <% @books.each do |book| %>
          <article class=" on" style="height: 296px;">
            <a href="<%= book.lien %>" class="">
              <div class="clearfixd">
                <img src="<%= book.image.url %>" alt="">
                <div class="infos-right">
                  <span class="cat"></span>
                  <h2><%= book.titre %></h2>
                  <p><span class="author"><%= book.intervenant.nom %></span>, créée le <%= book.created_at.strftime("%d-%m-%Y") %></p>
                </div>
              </div>
            </a>
            <a href="/books/<%= book.id %>" class="">
              <div class="entry-content">
                <div>
                  <p class="aerian">"<%= book.description.html_safe %>"</p>
                </div>
              </div>
              <span class="icon-top"><i class="sprite etat"></i></span>
            </a>
          </article>
          <br>
        <% end %>
        <div class="nav-article">                  
	        <%= paginate @books %>
	      </div>
        <div class="clearfix"></div>
        <!-- <div class="sep-art"></div> -->   
      </div>
      <!-- liste journal -->
      <div class="last-num">
        <ul class="clearfix">
          <li class="view-all"><%= link_to 'VOIR TOUS LES PODCASTS', podcasts_path %></li>
        </ul>
      </div>
    </section>
  </div>
</div>