<% content_for :social do %>
  <meta property="og:title" content="<%= @book.titre %>">
  <meta property="og:description" content="@book.description.html_safe">
  <meta property="og:image" content="<%= @book.image.url %>" />
<% end %>

<div class="container clearfix">
  <div class="table articles  page-edito ">
    <section class="left-article table-cell">
      <!-- left-article -->
      <article class="clearfix edito">
        <div class="table">
          <div class="body-edito table-cell">
            <header>
              <h1 class='podcast-title'><%= @book.titre %></h1>
              <p class="author"><%= "Brève proposée par " + @book.intervenant.nom %> dans l'émission <%= @book.podcast.title %>, que vous pouvez écouter <%= link_to "ici.", @book.podcast %> ou ci-dessous.</p>
            </header>
          </div>
        </div>
      </article>
      <!-- last article -->
      <div class="last-post clearfix">
        <article class=" on" style="height: 296px;">
          <a href="<%= @book.lien %>" class="">
            <div class="clearfixd">
              <img src="<%= @book.image.url %>" alt="">
              <div class="infos-right">
                <span class="cat"></span>
                <h2><%= @book.titre %></h2>
                <p class="author"><%= @book.intervenant.nom %></p>
              </div>
            </div>
            <div class="entry-content">
              <div>
                <p class="aerian">"<%= @book.description.html_safe %>"</p>
              </div>
            </div>
            <span class="icon-top"><i class="sprite etat"></i></span>
          </a>
        </article>
        <br>
        <div class="clearfix"></div>
        <!-- <div class="sep-art"></div> -->   
      </div>
      <iframe src="<%= @book.podcast.lien %>/embed" style="width: 100%; height: 200px; border: 0 none;" scrolling="no"></iframe>
      <h3>Les autres brèves de l'émission :</h3>
      <div class="last-post clearfix">
        <% @book.podcast.books.each do |book| %>
        	<% if book != @book %>
	          <article class=" on" style="height: 296px;">
	            <a href="<%= book.lien %>" class="">
	              <div class="clearfixd">
	                <img src="<%= book.image.url %>" alt="">
	                <div class="infos-right">
	                  <span class="cat"></span>
	                  <h2><%= book.titre %></h2>
	                  <p class="author"><%= book.intervenant.nom %></p>
	                </div>
	              </div>
	              <div class="entry-content">
	                <div>
	                  <p class="aerian">"<%= book.description.html_safe %>"</p>
	                </div>
	              </div>
	              <span class="icon-top"><i class="sprite etat"></i></span>
	            </a>
	          </article>
          	<br>
          <% end %>
        <% end %>
        <div class="clearfix"></div>
        <!-- <div class="sep-art"></div> -->   
      </div>
      <!-- liste journal -->
      <div class="last-num">
        <ul class="clearfix">
          <li class="view-all"><%= link_to 'VOIR TOUTES LES BREVES', books_path %></li>
        </ul>
      </div>
    </section>
  </div>
</div>