@charset "UTF-8";
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
    .replace-2x {
        font-size: 1px
    }
    .example {
        background-image: url(/assets/example2x.png);
        -webkit-background-size: 13px 13px;
        -moz-background-size: 13px 13px;
        -o-background-size: 13px 13px;
        background-size: 13px 13px
    }
}
table th {
    font-weight: bold
}
table td,
table th {
    padding: 9px 10px;
    text-align: left
}
@media only screen and (max-width: 767px) {
    table.responsive {
        margin-bottom: 0
    }
    .pinned {
        position: absolute;
        left: 0;
        top: 0;
        background: #fff;
        width: 35%;
        overflow: hidden;
        overflow-x: scroll;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc
    }
    .pinned table {
        border-right: none;
        border-left: none;
        width: 100%
    }
    .pinned table th,
    .pinned table td {
        white-space: nowrap
    }
    .pinned td:last-child {
        border-bottom: 0
    }
    div.table-wrapper {
        position: relative;
        margin-bottom: 20px;
        overflow: hidden;
        border-right: 1px solid #ccc
    }
    div.table-wrapper div.scrollable {
        margin-left: 35%
    }
    div.table-wrapper div.scrollable {
        overflow: scroll;
        overflow-y: hidden
    }
    table.responsive td,
    table.responsive th {
        position: relative;
        white-space: nowrap;
        overflow: hidden
    }
    table.responsive th:first-child,
    table.responsive td:first-child,
    table.responsive td:first-child,
    table.responsive.pinned td {
        display: none
    }
}
div.checker span,
div.radio span,
div.uploader,
div.uploader span.action,
div.button,
div.button span {
    background-image: url("/assets/sprite.png");
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased
}
div.selector,
div.checker,
div.button,
div.radio,
div.uploader {
    vertical-align: middle
}
div.selector:focus,
div.checker:focus,
div.button:focus,
div.radio:focus,
div.uploader:focus {
    outline: 0
}
div.selector,
div.selector *,
div.radio,
div.radio *,
div.checker,
div.checker *,
div.uploader,
div.uploader *,
div.button,
div.button * {
    margin: 0;
    padding: 0
}
.highContrastDetect {
    background: url("/assets/bg-input.png") repeat-x 0 0;
    width: 0;
    height: 0
}
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
    padding: 3px;
    background: white;
    outline: 0
}
div.checker input,
input[type="search"],
input[type="search"]:active {
    -moz-appearance: none;
    -webkit-appearance: none
}
div.selector {
    background-position: 0 -54px;
    background: url("assets/select.png") no-repeat center right;
    border: 1px solid #cccccc;
    line-height: 36px;
    height: 36px;
    padding: 0 0 0 10px;
    padding-right: 32px;
    position: relative;
    overflow: hidden
}
div.selector span {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    height: 31px;
    line-height: 31px;
    padding-right: 30px;
    cursor: pointer;
    width: 100% !important;
    display: block
}
div.selector select {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    height: 35px;
    top: 0;
    left: 0;
    width: 100%
}
div.checker {
    display: inline-block;
    z-index: 99999;
    position: relative
}
div.checker,
div.checker span,
div.checker input {
    width: 18px;
    height: 18px
}
div.checker span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: 0 -271px
}
div.checker span.checked {
    background-position: -19px -271px
}
.green div.checker span.checked {
    background-position: -57px -271px
}
div.checker input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1
}
div.checker.active span {
    background-position: -19px -271px
}
.green div.checker.active span {
    background-position: -57px -271px
}
div.checker.active span.checked {
    background-position: -19px -271px
}
.green div.checker.active span.checked {
    background-position: -57px -271px
}
div.checker.hover span,
div.checker.focus span {
    background-position: -38px -271px
}
div.checker.hover span.checked,
div.checker.focus span.checked {
    background-position: -19px -271px
}
.green div.checker.hover span.checked,
.green div.checker.focus span.checked {
    background-position: -57px -271px
}
div.checker.hover.active span,
div.checker.focus.active span {
    background-position: -19px -271px
}
.green div.checker.hover.active span,
.green div.checker.focus.active span {
    background-position: -57px -271px
}
div.checker.hover.active span.checked,
div.checker.focus.active span.checked {
    background-position: -19px -271px
}
.green div.checker.hover.active span.checked,
.green div.checker.focus.active span.checked {
    background-position: -57px -271px
}
div.checker.disabled,
div.checker.disabled.active {
    background-position: 0 -257px
}
div.checker.disabled span.checked,
div.checker.disabled.active span.checked {
    background-position: 0 -257px
}
div.radio {
    position: relative;
    display: inline
}
div.radio,
div.radio span,
div.radio input {
    width: 18px;
    height: 18px
}
div.radio span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: 0 -248px
}
div.radio span.checked {
    background-position: -19px -248px
}
div.radio input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center
}
div.radio.active span {
    background-position: -19px -248px
}
div.radio.active span.checked {
    background-position: -19px -248px
}
div.radio.hover span,
div.radio.focus span {
    background-position: -19px -36px -248px
}
div.radio.hover span.checked,
div.radio.focus span.checked {
    background-position: -19px -248px
}
div.radio.hover.active span,
div.radio.focus.active span {
    background-position: -19px -248px
}
div.radio.hover.active span.checked,
div.radio.focus.active span.checked {
    background-position: -19px -248px
}
div.radio.disabled span,
div.radio.disabled.active span {
    background-position: 0 -248px
}
div.radio.disabled span.checked,
div.radio.disabled.active span.checked {
    background-position: 0 -248px
}
div.uploader {
    background: none;
    height: 27px;
    width: 100%;
    cursor: pointer;
    position: relative;
    overflow: hidden
}
div.uploader span.action {
    background-position: 0 -378px;
    height: 27px;
    line-height: 27px;
    width: 94px;
    text-align: center;
    float: left;
    display: inline;
    overflow: hidden;
    cursor: pointer
}
div.uploader span.filename {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    cursor: default;
    height: 27px;
    margin: 0 0 0 0;
    line-height: 27px;
    width: 172px;
    padding: 0 10px
}
div.uploader input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    cursor: default;
    width: 100%;
    height: 100%
}
div.button {
    background-position: 0 -634px;
    height: 30px;
    cursor: pointer;
    position: relative
}
div.button a,
div.button button,
div.button input {
    opacity: 0.01;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute
}
div.button span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 30px;
    text-align: center;
    background-position: right -514px;
    height: 30px;
    margin-left: 13px;
    padding: 0
}
div.button.active {
    background-position: 0 -664px
}
div.button.active span {
    background-position: right -544px;
    cursor: default
}
div.button.hover,
div.button.focus {
    background-position: 0 -694px
}
div.button.hover span,
div.button.focus span {
    background-position: right -574px
}
div.button.disabled,
div.button.disabled.active {
    background-position: 0 -724px
}
div.button.disabled span,
div.button.disabled.active span {
    background-position: right -604px;
    cursor: default
}
div.button span {
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase
}
div.button.hover span,
div.button.focus span {
    color: #555
}
div.button.disabled span,
div.button.disabled.active span {
    color: #bbb
}
#compare_shipping .form-group label {
    display: block
}
div.selector {
    font-size: 12px
}
div.selector span {
    font-size: 13px;
    color: #000
}
div.selector select {
    font-size: 13px
}
div.selector.disabled span,
div.selector.disabled.active span {
    color: #bbb
}
.checker span input {
    margin: 0 !important
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    cursor: pointer;
    margin: 0 !important
}
.radio-inline,
.checkbox-inline {
    cursor: default
}
div.checker {
    cursor: pointer;
    margin-right: 5px
}
div.checker span {
    position: relative
}
#layered_form div.checker {
    display: inline
}
div.radio {
    margin-right: 3px
}
div.radio span {
    position: relative
}
div.uploader span.action {
    text-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
    font-size: 13px;
    font-weight: bold;
    color: #fff
}
div.uploader span.filename {
    color: #777;
    border: solid 1px #d6d4d4;
    font-size: 13px;
    background: #fbfbfb;
    margin-right: 2px
}
div.uploader.disabled span.action,
div.uploader.disabled.active span.action {
    color: #aaa
}
div.uploader.disabled span.filename,
div.uploader.disabled.active span.filename {
    border-color: #ddd;
    color: #aaa
}
input.uniform-input,
input.uniform-input:focus {
    background-color: #fff
}
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top
}
.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020
}
.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}
.fancybox-opened {
    z-index: 8030
}
.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5)
}
.fancybox-outer,
.fancybox-inner {
    position: relative
}
.fancybox-inner {
    overflow: hidden
}
.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch
}
.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap
}
.fancybox-image,
.fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%
}
.fancybox-image {
    max-width: 100%;
    max-height: 100%
}
#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
    background-image: url('/assets/fancybox_sprite.png')
}
#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060
}
#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('/assets/fancybox_loading.gif') center center no-repeat
}
.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040
}
.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('https://le1hebdo.fr/js/jquery/plugins/fancybox/blank.gif');
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 8040
}
.fancybox-prev {
    left: 0
}
.fancybox-next {
    right: 0
}
.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden
}
.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px
}
.fancybox-next span {
    right: 10px;
    background-position: 0 -72px
}
.fancybox-nav:hover span {
    visibility: visible
}
.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important
}
.fancybox-lock {
    overflow: hidden !important;
    width: auto
}
.fancybox-lock body {
    overflow: hidden !important
}
.fancybox-lock-test {
    overflow-y: hidden !important
}
.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url('/assets/fancybox_overlay.png')
}
.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0
}
.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll
}
.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050
}
.fancybox-opened .fancybox-title {
    visibility: visible
}
.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center
}
.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent;
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap
}
.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff
}
.fancybox-title-inside-wrap {
    padding-top: 10px
}
.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8)
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #fancybox-loading,
    .fancybox-close,
    .fancybox-prev span,
    .fancybox-next span {
        background-image: url('https://le1hebdo.fr/js/jquery/plugins/fancybox/fancybox_sprite@2x.png');
        background-size: 44px 152px
    }
    #fancybox-loading div {
        background-image: url('https://le1hebdo.fr/js/jquery/plugins/fancybox/fancybox_loading@2x.gif');
        background-size: 24px 24px
    }
}
#index .layout {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0
}
#index #fixed-nav-top,
#home-boutique #fixed-nav-top {
    display: none
}
@media only screen and (max-width: 768px) {
    #home-boutique #fixed-nav-top {
        display: block
    }
}
#index .btn-cart {
    display: none
}
.main-home {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
.bottom-editorial,
.bottom-home {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 100px;
    background: #FFF;
    display: table;
    table-layout: fixed
}
.bottom-editorial {}.bottom-home {}.bottom-home a,
.bottom-editorial a {
    height: 100%;
    font-family: 'ArcherMedium';
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    display: table-cell;
    vertical-align: middle
}
.bottom-editorial a.first {
    width: 70%
}
.bottom-editorial a {
    font-family: 'ArcherMedium';
    font-size: 37px;
    text-transform: uppercase;
    padding: 0 50px
}
.bottom-editorial a.last {
    font-family: 'ArcherBold';
    font-size: 27px;
    color: #9D3934;
    text-transform: uppercase;
    width: 30%;
    text-align: right
}
.bottom-editorial a.last .ak-icon {
    position: relative;
    top: -3px
}
.bottom-home a {
    padding: 15px 50px;
    width: 50%
}
.bottom-home a:hover {
    background: #F7F2EF
}
.bottom-home a.first {
    text-align: right;
    border-right: 1px dotted #000
}
.bottom-home a span {
    display: block;
    font-size: 31px;
    margin-bottom: 5px;
    text-decoration: underline;
    text-transform: uppercase
}
.bottom-home a.first span {
    color: #9D3934
}
.block-subscription {
    position: absolute;
    top: 0;
    right: 0;
    width: 230px;
    background: #FFF;
    z-index: 99999
}
.block-subscription .ak-auth.gray {
    background: #F7F2EF
}
.block-subscription a {
    display: block;
    font-family: 'ArcherBold';
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    padding: 10px 15px;
    text-decoration: underline;
    color: #000
}
.block-subscription .form-login {
    display: none;
    padding: 0 20px 20px 20px
}
.block-subscription .form-login a {
    margin: 0;
    padding: 0;
    text-align: left;
    position: relative;
    line-height: initial;
    margin-bottom: 5px;
    text-transform: initial
}
.block-subscription .form-login a:before {
    content: '.';
    position: absolute;
    left: -10px;
    top: 0
}
.block-subscription .account-info {
    text-decoration: none;
    text-transform: initial;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 40px;
    position: relative
}
.block-subscription .account-info .svg-icon {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}
.block-subscription .account-info.active .svg-icon {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
}
.block-subscription a .ak-icon {
    margin-left: 10px
}
.block-subscription a:hover {
    color: #9D3934
}
.block-subscription a:hover .ak-icon.acount {
    background-image: url(assets/acount-red.svg)
}
.block-subscription .top {
    background: #9D3934;
    font-size: 19px;
    color: #FFF;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none
}
.block-subscription .top:hover {
    color: #000;
    background: #F7F2EF
}
.block-subscription .top .ico-journal {
    margin-left: 5px
}
.block-subscription .top:hover .ico-journal {
    display: inline-block;
    width: 38px;
    height: 38px;
    background: url(assets/journal-b.svg) no-repeat center center
}
.block-subscription .form-login input {
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid #000;
    padding: 2px 3px;
    font-family: 'ArcherBold';
    font-size: 16px
}
.block-subscription .form-login input::-webkit-input-placeholder {
    color: #000
}
.block-subscription .form-login input::-moz-placeholder {
    color: #000
}
.block-subscription .form-login input:-ms-input-placeholder {
    color: #000
}
.block-subscription .form-login input:-moz-placeholder {
    color: #000
}
.block-subscription .form-login .pwd {
    position: relative
}
.block-subscription .form-login input[type="password"] {
    padding-right: 30px;
    margin-bottom: 0
}
.block-subscription .form-login button {
    font-family: 'ArcherBold';
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.block-subscription .form-login button:hover {
    color: #9D3934
}
.mb-bottom-home {
    display: none
}
.ak-couv img {
    width: 100%
}
.ak-couv span {
    background: #F35888;
    display: block;
    width: 100%;
    padding: 0 10px;
    font-family: "ArcherBold";
    color: #FFFFFF;
    font-size: 19px
}
@media only screen and (max-width: 1600px) {
    .bottom-editorial a {
        font-size: 30px
    }
    .bottom-editorial a.last {
        font-size: 20px
    }
}
@media only screen and (max-width: 1400px) {
    .bottom-editorial a {
        font-size: 25px
    }
    .bottom-editorial a.last {
        font-size: 18px
    }
}
@media only screen and (max-width: 1200px) {
    .bottom-home a {
        font-size: 12px
    }
    .bottom-home a span {
        font-size: 25px
    }
    .bottom-editorial a {
        font-size: 20px
    }
    .bottom-editorial a.last {
        font-size: 17px
    }
}
@media only screen and (max-width: 1100px) {
    .bottom-home a span {
        font-size: 20px
    }
    .bottom-editorial a {
        font-size: 18px;
        padding: 0 15px
    }
    .bottom-editorial a.first {
        width: 65%
    }
    .bottom-editorial a.last {
        font-size: 16px;
        width: 35%
    }
}
@media only screen and (max-width: 980px) {
    .bottom-editorial a {
        font-size: 15px
    }
    .bottom-editorial a.last {
        font-size: 14px
    }
}
@media only screen and (max-width: 768px) {
    .block-subscription {
        display: none
    }
    .home-page #main-nav-mobile {
        top: 0
    }
    .main-home {
        top: 55px;
        bottom: 0
    }
    #index #fixed-nav-top,
    .home-page #fixed-nav-top {
        display: block
    }
    .home-page .link-nav-top.acount:last-child {
        display: none
    }
    .bottom-home {
        display: none
    }
    .mb-bottom-home {
        display: block;
        text-align: center;
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        color: #FFF
    }
    .mb-bottom-home a {
        font-family: 'ArcherBold';
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        border-bottom: 2px solid #FFF;
        color: #FFF;
        margin: 0 12px
    }
    .ak-couv {}.bottom-editorial {
        background: transparent;
        color: #FFF;
        display: block;
        text-align: center;
        height: auto;
        line-height: initial;
        bottom: 30px
    }
    .bottom-editorial a {
        display: block;
        width: 100% !important;
        color: #FFF;
        margin-bottom: 10px;
        text-shadow: 0 0 7px #000, 0 0 3px #000
    }
    .bottom-editorial a.last {
        text-align: center;
        margin-bottom: 0
    }
}
.ak-cover {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
.wrap-cover {
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
.bouitque .block-subscription {
    position: absolute
}
.bouitque .layout {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0
}
.bar-details {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0
}
.bar-details .footer-home {
    background: #FFF
}
.ak-couv {
    display: block;
    text-decoration: none;
    width: 200px;
    float: right;
    margin-bottom: 30px;
    margin-right: 50px;
    background: #F7F2EF;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4), 0 0 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4), 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4), 0 0 4px rgba(0, 0, 0, 0.4);
    position: relative
}
.ak-couv .cov-rollover {
    color: #FFF;
    font-family: "ArcherBold";
    color: #FFFFFF;
    font-size: 19px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s;
    transition: all 0.4s
}
.ak-couv .cov-rollover .text {
    position: absolute;
    top: 50%;
    width: 80%;
    left: 50%;
    padding: 4px 5px;
    text-align: center;
    transform: translate(-50%, -0%);
    -webkit-transform: translate(-50%, -0%);
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border: 1px solid #FFF
}
.ak-couv:hover .cov-rollover {
    opacity: 1;
    visibility: visible
}
.ak-couv:hover .cov-rollover .text {
    opacity: 1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%)
}
.footer-home {
    display: table;
    table-layout: fixed;
    width: 100%
}
.footer-home a {
    display: table-cell;
    font-family: 'ArcherMedium';
    font-size: 37px;
    padding: 25px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    width: 99%
}
.footer-home a:last-child {
    text-align: right;
    width: 1%;
    font-family: "ArcherBold";
    font-size: 27px;
    color: #9D3934
}
#section-decouverte {
    position: relative
}
.fixed-nav {}.fixed-nav #nav-section {}#nav-section {
    position: absolute;
    top: 0;
    right: 5px
}
#nav-section a {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    background: #FFF;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    margin-bottom: 5px
}
#nav-section a.selected,
#nav-section a:hover {
    background: #000
}
.ak_wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px
}
.ak_wrapper .col {
    display: table-cell;
    width: 50%;
    font-family: "SentinelBook";
    font-size: 16px
}
.ak_wrapper .col h2 {
    margin: 0 0 0 0;
    font-family: 'ArcherMedium';
    font-size: 23px;
    text-transform: uppercase;
    line-height: 23px
}
.ak_wrapper .col h2.add-margin {
    margin-bottom: 10px
}
.ak_wrapper .auth {
    text-decoration: underline;
    color: #000;
    font-family: "ArcherBold";
    font-size: 12px;
    margin-bottom: 10px;
    display: inline-block
}
.ak_wrapper .text {
    background: #F7F2EF;
    padding: 20px;
    vertical-align: middle
}
.ak_wrapper .text .inner-col {
    max-width: 340px;
    margin: 0 auto
}
.ak_wrapper .image {
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
.ak_wrapper .image img {
    width: 100%;
    opacity: 0
}
.ak_wrapper .last {
    border-left: 10px solid #FFF
}
.ak_wrapper .first {
    border-right: 10px solid #FFF
}
.auth-block .col {
    vertical-align: top
}
#sticky {
    z-index: 9999999
}
.new-sub-block {
    display: table;
    table-layout: fixed;
    border: 2px solid #5f5f5f;
    font-family: "ArcherBold";
    font-size: 17px;
    line-height: 21px;
    color: #000;
    text-transform: uppercase;
    width: 490px;
    float: right;
    margin-bottom: 30px;
    background: #FFF;
    z-index: 9999999 !important
}
.new-sub-block.fixed {
    position: fixed;
    right: 20px;
    top: 0
}
.new-sub-block .text,
.new-sub-block .link {
    display: table-cell;
    vertical-align: middle
}
.new-sub-block .link {
    width: 170px;
    background: #9D3934;
    text-align: center;
    color: #FFF;
    text-decoration: none
}
.new-sub-block .link:hover {
    color: #000;
    background: #F7F2EF
}
.touch .new-sub-block .link:hover {
    background: #9D3934;
    color: #FFF
}
.new-sub-block .text {
    padding: 25px 20px
}
.intro-decouverte {
    display: table;
    table-layout: fixed;
    margin-bottom: 20px
}
.intro-decouverte .text,
.intro-decouverte .image {
    display: table-cell;
    vertical-align: bottom
}
.intro-decouverte .text p {
    margin: 0
}
.intro-decouverte .image {
    width: 200px
}
.intro-decouverte .image img {
    width: 100%
}
.intro-decouverte .text {
    font-family: 'SentinelBook';
    font-size: 18px;
    padding-left: 20px;
    max-width: 550px
}
.citation {
    margin: 20px 50px
}
.citation .image,
.citation .text {
    overflow: hidden;
    display: table-cell;
    vertical-align: middle
}
.citation .text .right {
    font-family: 'SentinelBook';
    font-size: 18px;
    line-height: 21px;
    position: relative;
    margin-left: 60px;
    margin-right: 60px
}
.citation .quote {
    position: absolute;
    top: -5px;
    left: -30px
}
.quote {
    background-image: url(/assets/quote.svg);
    width: 22px;
    height: 18px
}
.decouverte-slider {
    padding: 30px 100px 15px 100px;
    background: #F7F2EF;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px
}
.decouverte-slider .title {
    margin: 0 0 0 0;
    font-family: 'ArcherBold';
    font-size: 23px;
    text-transform: uppercase
}
.decouverte-slider .content-slider {
    font-family: 'SentinelBook';
    font-size: 16px;
    max-width: 530px;
    margin-bottom: 15px
}
.decouverte-slider .content-slider p {
    margin: 0
}
.decouverte-slider .images {
    overflow: hidden
}
.decouverte-slider.equipe-4 #slide-prev,
.decouverte-slider.equipe-4 #slide-next {
    display: none
}
.decouverte-slider .images .el {
    display: inline-block;
    float: left;
    width: 185px;
    text-align: center;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 15px;
    text-decoration: none
}
.decouverte-slider .images .el img {
    max-width: 100%
}
.decouverte-slider .images .el .name {
    text-decoration: underline;
    color: #000;
    font-family: "ArcherBold";
    font-size: 13px;
    display: block
}
.decouverte-slider .images .el .desc {
    color: #000;
    font-family: "ArcherBold";
    font-size: 13px;
    display: block;
    text-decoration: none
}
.ak-icon.prev-slider {
    background-image: url('/assets/prev.svg');
    width: 18px;
    height: 14px
}
.ak-icon.next-slider {
    background-image: url('/assets/next.svg');
    width: 18px;
    height: 14px
}
#slide-prev {
    position: absolute;
    left: 20px;
    bottom: 30px;
    cursor: pointer
}
#slide-next {
    position: absolute;
    right: 20px;
    bottom: 30px;
    cursor: pointer
}
.slick-disabled {
    opacity: 0.4
}
.form-sub {
    padding: 20px 60px
}
#formulaire .form-sub a {
    color: #000
}
#formulaire .form-sub a:hover {
    color: #9D3934
}
.title-sub {
    font-family: 'ArcherMedium';
    font-size: 37px;
    padding: 10px 60px;
    margin-top: 60px;
    text-transform: uppercase;
    line-height: initial
}
.title-sub p {
    margin: 0;
    padding: 0
}
.ak_wrapper p {
    font-family: 'SentinelBook';
    font-size: 16px;
    color: #000;
    line-height: 22px;
    margin-bottom: 10px;
    margin-top: 0
}
.ak_wrapper strong,
.ak_wrapper .title {
    font-family: "ArcherBold";
    font-size: 21px;
    margin: 0 0 0 0;
    line-height: 22px;
    margin-bottom: 10px;
    display: inline-block
}
.ak_wrapper .description {
    font-family: 'SentinelBook';
    font-size: 14px;
    color: #000;
    line-height: 18px
}
.form-sub .col.first .inner-col {
    max-width: 445px
}
.form-sub .list {
    font-family: 'SentinelBook';
    font-size: 16px
}
.form-sub .list ul,
.form-sub .list ol {
    list-style: none;
    padding: 0
}
.form-sub .list li {
    position: relative;
    margin-bottom: 15px;
    padding-left: 45px;
    min-height: 40px
}
.form-sub .list li:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url(/assets/sprite.svg) 0 84.56962298912094% no-repeat;
    width: 34.841px;
    height: 34.841px;
    position: absolute;
    top: 5px;
    left: 0
}
.form-sub .ak-form-row {
    width: 100%;
    max-width: 285px
}
.form-sub .ak-form-row input {
    border: 1px solid #808080;
    width: 100%;
    padding: 7px 10px
}
.form-sub .ak-btn {
    width: 100%;
    padding: 11px 15px
}
.form-sub::-webkit-input-placeholder {
    color: #000000
}
.form-sub:-moz-placeholder {
    color: #000000
}
.form-sub::-moz-placeholder {
    color: #000000
}
.form-sub:-ms-input-placeholder {
    color: #000000
}
.decouverte .auth-block {
    border-top: 2px solid #000;
    padding-top: 45px
}
.decouverte .auth-block .title {
    font-weight: normal;
    margin-bottom: 15px
}
.decouverte .auth-block .description {
    margin-bottom: 15px
}
.decouverte .auth-block .ak-btn {
    max-width: 225px
}
@media only screen and (max-width: 1600px) {
    .footer-home a {
        font-size: 35px
    }
    .footer-home a:last-child {
        font-size: 17px
    }
}
@media only screen and (max-width: 980px) {
    .footer-home a {
        font-size: 18px;
        width: 66%
    }
    .footer-home a:last-child {
        font-size: 15px;
        width: 34%
    }
    .new-sub-block {
        width: 100%;
        float: none;
        font-size: 15px
    }
    .new-sub-block .text {
        padding: 10px
    }
    .ak_wrapper {
        display: block;
        table-layout: auto
    }
    .ak_wrapper .col {
        display: block;
        width: 100%;
        border: none !important;
        margin-bottom: 20px
    }
    .ak_wrapper .text .inner-col {
        width: 100%;
        max-width: 100%
    }
    .decouverte-slider,
    .form-sub {
        padding: 20px
    }
    .form-sub .ak-form-row {
        max-width: 100%
    }
    .title-sub {
        padding: 10px
    }
    .citation .image,
    .citation .text {
        display: block;
        text-align: center;
        margin-bottom: 20px
    }
    .citation .image img {
        max-width: 100%
    }
    .citation .left,
    .citation .right {
        float: none
    }
    .citation .text .right {
        margin: 0
    }
}
@media only screen and (max-width: 768px) {
    .bar-details .footer-home {
        background: #FFF;
        padding: 15px 10px;
        display: block
    }
    .footer-home a:first-child {
        margin-bottom: 10px
    }
    .footer-home a,
    .footer-home a:last-child {
        display: block;
        text-align: center;
        width: 100%;
        padding: 0;
        font-size: 15px
    }
    .ak-couv {
        float: none;
        margin: 0 auto 30px auto
    }
    #sticky {
        top: 75px !important
    }
    .new-sub-block {
        font-size: 12px
    }
    .new-sub-block .link {
        width: 95px
    }
}
@media only screen and (max-width: 600px) {
    .intro-decouverte {
        display: block
    }
    .intro-decouverte .image {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        display: none
    }
    .intro-decouverte .text {
        display: block;
        width: 100%
    }
    .ak-couv {}.ak-couv span {}.ak-couv .cov-rollover {
        display: none
    }
}
@media only screen and (max-width: 480px) {
    .decouverte-slider .images .el img {
        max-width: 100%
    }
}
.alert p {
    color: #FFF
}
.auth-block .ak-btn:hover {
    color: #000;
    background: #F7F2EF
}
#header .banner a {
    display: block;
    max-width: 1170px;
    max-height: 65px
}
#header .banner a img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 65px;
    max-width: 1170px
}
#categories_block_top {
    clear: both;
    position: relative;
    top: 30px
}
#categories_block_top .sf-menu {
    position: relative
}
#categories_block_top .sf-menu > li {
    position: static
}
#categories_block_top .sf-menu > li > ul {
    width: 100%;
    top: 60px;
    margin: 0 20px
}
#categories_block_top .sf-menu > li > ul > li {
    display: block;
    float: left;
    width: 20%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px
}
#categories_block_top .sf-menu > li > ul > .category_thumb {
    display: block;
    clear: both;
    overflow: hidden;
    width: 100%
}
#categories_block_top .sf-menu > li > ul > .category_thumb img {
    display: inline-block;
    width: 33%
}
#categories_block_top .sf-menu > li h4 a {
    font-size: 1.1em
}
#categories_block_top .sf-menu > li h4 a:before {
    display: none
}
#categories_block_top .sf-menu > li .main-level-submenus {
    position: relative;
    display: block !important;
    visibility: visible !important;
    top: 0;
    background: none;
    box-shadow: none;
    padding: 0;
    left: 0
}
#categories_block_top .sf-menu .category_thumb {
    display: none
}
#categories_block_left .block_content > ul {
    border-top: 1px solid #d6d4d4
}
#categories_block_left li {
    position: relative
}
#categories_block_left li a {
    font-weight: bold;
    color: #333333;
    display: block;
    font-size: 13px;
    line-height: 30px;
    padding: 0 30px 0 19px;
    border-bottom: 1px solid #d6d4d4
}
#categories_block_left li span.grower {
    display: block;
    background: #f6f6f6;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-family: "FontAwesome";
    font-size: 14px
}
#categories_block_left li span.grower.OPEN:before,
#categories_block_left li span.grower.CLOSE:before {
    content: "\f068";
    display: block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    color: #333333;
    line-height: 30px;
    text-align: center
}
#categories_block_left li span.grower.CLOSE:before {
    content: "\f067";
    color: silver
}
#categories_block_left li span.grower:hover + a,
#categories_block_left li a:hover,
#categories_block_left li a.selected {
    background: #f6f6f6
}
#categories_block_left li li a {
    font-weight: normal;
    color: #777777
}
#categories_block_left li li a:before {
    content: "\f105";
    font-family: "FontAwesome";
    line-height: 29px;
    padding-right: 8px
}
#currencies-block-top {
    float: right;
    border-left: 1px solid #515151;
    position: relative
}
@media (max-width: 479px) {
    #currencies-block-top {
        width: 25%
    }
}
#currencies-block-top span.firstWord {
    display: none
}
#currencies-block-top div.current {
    font-weight: bold;
    padding: 8px 10px 10px 10px;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    line-height: 18px
}
@media (max-width: 479px) {
    #currencies-block-top div.current {
        text-align: center;
        padding: 9px 5px 10px;
        font-size: 11px
    }
}
#currencies-block-top div.current strong {
    color: #777777
}
#currencies-block-top div.current:hover,
#currencies-block-top div.current.active {
    background: #2b2b2b
}
#currencies-block-top div.current:after {
    content: "\f0d7";
    font-family: "FontAwesome";
    font-size: 18px;
    line-height: 18px;
    color: #686666;
    vertical-align: -2px;
    padding-left: 12px
}
@media (max-width: 479px) {
    #currencies-block-top div.current:after {
        padding-left: 2px;
        font-size: 13px;
        line-height: 13px;
        vertical-align: 0
    }
}
@media (max-width: 479px) {
    #currencies-block-top div.current .cur-label {
        display: none
    }
}
#currencies-block-top ul {
    display: none;
    position: absolute;
    top: 37px;
    left: 0;
    width: 157px;
    background: #333333;
    z-index: 2
}
#currencies-block-top ul li {
    color: white;
    line-height: 35px;
    font-size: 13px
}
#currencies-block-top ul li a,
#currencies-block-top ul li > span {
    padding: 0 10px 0 12px;
    display: block;
    color: white
}
#currencies-block-top ul li.selected,
#currencies-block-top ul li:hover a {
    background: #484848
}
.facebook-fanbox {
    overflow-x: hidden
}
#languages-block-top {
    float: right;
    border-left: 1px solid #515151;
    position: relative
}
@media (max-width: 479px) {
    #languages-block-top {
        width: 25%
    }
}
#languages-block-top span.firstWord {
    display: none
}
#languages-block-top div.current {
    font-weight: bold;
    padding: 8px 10px 10px 10px;
    line-height: 18px;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer
}
@media (max-width: 479px) {
    #languages-block-top div.current {
        text-align: center;
        padding: 9px 5px 10px;
        font-size: 11px
    }
}
#languages-block-top div.current strong {
    color: #777777
}
#languages-block-top div.current:after {
    content: "\f0d7";
    font-family: "FontAwesome";
    font-size: 18px;
    line-height: 18px;
    color: #686666;
    vertical-align: -2px;
    padding-left: 12px
}
@media (max-width: 479px) {
    #languages-block-top div.current:after {
        padding-left: 2px;
        font-size: 13px;
        line-height: 13px;
        vertical-align: 0
    }
}
@media (max-width: 479px) {
    #languages-block-top div.current .cur-label {
        display: none
    }
}
#languages-block-top ul {
    display: none;
    position: absolute;
    top: 37px;
    left: 0;
    width: 157px;
    background: #333333;
    z-index: 2
}
#languages-block-top ul li {
    color: white;
    line-height: 35px;
    font-size: 13px
}
#languages-block-top ul li a,
#languages-block-top ul li > span {
    padding: 0 10px 0 12px;
    display: block;
    color: white
}
#languages-block-top ul li.selected,
#languages-block-top ul li:hover a {
    background: #484848
}
.shop-phone {
    float: left;
    padding: 5px 0 10px;
    line-height: 18px
}
@media (max-width: 767px) {
    .shop-phone {
        display: none
    }
}
.shop-phone i {
    font-size: 21px;
    line-height: 21px;
    color: white;
    padding-right: 7px
}
.shop-phone strong {
    color: white
}
#contact-link {
    float: right;
    border-left: 1px solid #515151
}
@media (max-width: 479px) {
    #contact-link {
        width: 25%;
        text-align: center
    }
}
#contact-link a {
    display: block;
    color: white;
    font-weight: bold;
    padding: 8px 10px 11px 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    line-height: 18px
}
@media (max-width: 479px) {
    #contact-link a {
        font-size: 11px;
        padding-left: 5px;
        padding-right: 5px
    }
}
#contact-link a:hover,
#contact-link a.active {
    background: #2b2b2b
}
@media (max-width: 767px) {
    #contact_block {
        margin-bottom: 20px
    }
}
#contact_block .label {
    display: none
}
#contact_block .block_content {
    color: #888888
}
#contact_block p {
    margin-bottom: 4px
}
#contact_block p.tel {
    font: 400 17px/21px Arial, Helvetica, sans-serif;
    color: #333333;
    margin-bottom: 6px
}
#contact_block p.tel i {
    font-size: 25px;
    vertical-align: -2px;
    padding-right: 10px
}
#columns #newsletter_block_left .form-group {
    margin-bottom: 0
}
#columns #newsletter_block_left .form-group .form-control {
    max-width: 222px;
    display: inline-block;
    margin-right: 6px
}
@media (min-width: 768px) and (max-width: 1199px) {
    #columns #newsletter_block_left .form-group .form-control {
        margin-bottom: 10px;
        margin-right: 0
    }
}
#columns #newsletter_block_left .success_inline,
#columns #newsletter_block_left .warning_inline {
    text-align: left;
    padding: 1px 0 0 0;
    margin-bottom: -19px
}
#columns #newsletter_block_left .success_inline {
    color: #418B19
}
#columns #newsletter_block_left .warning_inline {
    color: #f13340
}
#footer #newsletter_block_left {
    overflow: hidden;
    width: 50%;
    float: left;
    padding: 13px 15px 7px 15px;
    margin-bottom: 0
}
@media (max-width: 767px) {
    #footer #newsletter_block_left {
        width: 100%
    }
}
#footer #newsletter_block_left h4 {
    background: none;
    float: left;
    padding: 7px 16px 5px 0;
    text-transform: none;
    font-size: 21px;
    line-height: 25px;
    border: none
}
#footer #newsletter_block_left h4:after {
    display: none
}
#footer #newsletter_block_left .block_content {
    overflow: hidden
}
#footer #newsletter_block_left .form-group {
    margin-bottom: 0
}
#footer #newsletter_block_left .form-group .form-control {
    height: 45px;
    line-height: 30px;
    max-width: 267px;
    background: #3c3c3c;
    border-color: #515151;
    color: white;
    padding: 5px 43px 5px 12px;
    display: inline-block;
    float: left
}
#footer #newsletter_block_left .form-group .form-control:focus {
    -webkit-box-shadow: black 0 0 0;
    -moz-box-shadow: black 0 0 0;
    box-shadow: black 0 0 0
}
#footer #newsletter_block_left .form-group .button-small {
    margin-left: -43px;
    border: none;
    background: none;
    text-align: center;
    color: #908f8f;
    padding: 8px
}
#footer #newsletter_block_left .form-group .button-small:before {
    content: "\f138";
    font-family: "FontAwesome";
    font-size: 28px;
    line-height: 28px
}
#footer #newsletter_block_left .form-group .button-small:hover {
    color: white !important
}
#footer #newsletter_block_left .form-group .button-small span {
    display: none
}
#footer #newsletter_block_left .warning_inline {
    display: block;
    color: #f13340;
    font-size: 13px;
    line-height: 26px;
    clear: both
}
@media (min-width: 1200px) {
    #footer #newsletter_block_left .warning_inline {
        display: inline-block;
        position: relative;
        top: -35px;
        margin-bottom: -35px;
        left: 15px;
        clear: none
    }
}
#footer #newsletter_block_left .newsletter-input {
    max-width: 300px !important
}
.tags_block .block_content {
    overflow: hidden
}
.tags_block .block_content a {
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;
    padding: 4px 9px 5px 9px;
    border: 1px solid #d6d4d4;
    float: left;
    margin: 0 3px 3px 0
}
.tags_block .block_content a:hover {
    color: #333333;
    background: #f6f6f6
}
.header_user_info {
    float: right;
    border-left: 1px solid #515151;
    border-right: 1px solid #515151
}
.header_user_info a {
    color: white;
    font-weight: bold;
    display: block;
    padding: 8px 9px 11px 8px;
    cursor: pointer;
    line-height: 18px
}
@media (max-width: 479px) {
    .header_user_info a {
        font-size: 11px
    }
}
.header_user_info a:hover,
.header_user_info a.active {
    background: #2b2b2b
}
#viewed-products_block_left li.last_item {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none
}
#htmlcontent_home ul {
    margin: 0 -5px
}
#htmlcontent_home ul li {
    padding: 0 5px 10px
}
@media (max-width: 479px) {
    #htmlcontent_home ul li {
        width: 100%
    }
}
#htmlcontent_home ul li img {
    max-width: 100%;
    height: auto
}
@media (max-width: 479px) {
    #htmlcontent_home ul li img {
        min-width: 100%
    }
}
#htmlcontent_home ul li.htmlcontent-item-5 {
    width: 66.6667%
}
@media (max-width: 479px) {
    #htmlcontent_home ul li.htmlcontent-item-5 {
        width: 100%
    }
}
#htmlcontent_top {
    float: right;
    width: 33%;
    max-width: 391px;
    padding-left: 5px
}
@media (max-width: 767px) {
    #htmlcontent_top {
        width: 100%;
        max-width: 100%;
        padding-left: 0;
        padding-top: 0
    }
}
@media (max-width: 767px) {
    #htmlcontent_top ul {
        margin: 0 -5px
    }
}
#htmlcontent_top ul li {
    width: 100%;
    margin-bottom: 10px
}
@media (max-width: 767px) {
    #htmlcontent_top ul li {
        float: left;
        padding-left: 5px;
        padding-right: 5px;
        width: 50%
    }
}
#htmlcontent_top ul li:last-child {
    margin-bottom: 0
}
#htmlcontent_top ul li img {
    max-width: 100%;
    height: auto
}
#product_comments_block_extra {
    padding: 8px 10px 10px;
    font-weight: bold;
    line-height: 18px;
    border: 1px solid #d6d4d4;
    background: #fbfbfb;
    margin: 39px 0 22px
}
#product_comments_block_extra .comments_note {
    margin-bottom: 5px
}
#product_comments_block_extra .comments_note span,
#product_comments_block_extra .star_content {
    float: left;
    color: #333333
}
#product_comments_block_extra .star_content {
    margin-top: 1px
}
#product_comments_block_extra div.star:after {
    content: "\f006";
    font-family: "FontAwesome";
    display: inline-block;
    color: #777676
}
#product_comments_block_extra div.star_on:after {
    content: "\f005";
    font-family: "FontAwesome";
    display: inline-block;
    color: #ef8743
}
#product_comments_block_extra .comments_advices {
    clear: both
}
.comments_advices {
    padding-top: 2px
}
.comments_advices li {
    display: inline-block;
    line-height: 30px
}
@media (min-width: 768px) and (max-width: 991px) {
    .comments_advices li {
        display: block;
        line-height: 20px
    }
}
.comments_advices a {
    text-decoration: none;
    color: #777777;
    position: relative;
    margin-right: 8px;
    line-height: 30px;
    padding: 0;
    display: inline-block
}
@media (min-width: 768px) and (max-width: 1199px) {
    .comments_advices a {
        float: none;
        line-height: 20px
    }
}
.comments_advices a:before {
    background: #929292;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    color: white;
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 15px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    margin-right: 6px;
    text-align: center;
    width: 30px
}
@media (max-width: 1199px) {
    .comments_advices a:before {
        display: none
    }
}
.comments_advices a.reviews:before {
    content: "\f0e5"
}
.comments_advices a.open-comment-form:before {
    content: "\f040"
}
.comments_advices a:hover {
    color: #333333
}
.comments_advices a.reviews {
    border-right: 1px solid #d6d4d4;
    padding-right: 30px;
    margin-right: 9px
}
@media (min-width: 768px) and (max-width: 991px) {
    .comments_advices a.reviews {
        margin-right: 0;
        padding: 0;
        border: none
    }
}
#fancybox-wrap {
    width: 585px
}
#fancybox-content {
    width: 585px;
    border-width: 0
}
#new_comment_form {
    overflow: hidden;
    color: #333333;
    text-align: left
}
#new_comment_form h2 {
    margin-bottom: 10px
}
#new_comment_form .title {
    padding: 10px;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    background: #333333
}
#new_comment_form ul.grade_content {
    list-style-type: none;
    margin: 0 0 20px 0
}
#new_comment_form ul.grade_content li {
    width: 50%
}
#new_comment_form ul.grade_content span {
    display: inline-block;
    padding: 0 10px;
    width: 150px;
    font-weight: bold
}
#new_comment_form ul.grade_content .cancel {
    margin-right: 5px
}
#new_comment_form .product {
    padding: 15px
}
#new_comment_form .product img {
    border: 1px solid #d6d4d4
}
#new_comment_form .product .product_desc {
    line-height: 18px;
    color: #666666
}
#new_comment_form .product .product_desc .product_name {
    padding: 10px 0 5px;
    font-size: 13px;
    color: #000
}
#new_comment_form .new_comment_form_content {
    padding: 15px 25px 15px 15px;
    background: #f8f8f8
}
@media (max-width: 767px) {
    #new_comment_form .new_comment_form_content {
        padding-left: 25px
    }
}
#new_comment_form .new_comment_form_content .intro_form {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 12px
}
#new_comment_form label {
    display: block;
    margin: 12px 0 4px 0;
    font-weight: bold;
    font-size: 12px
}
#new_comment_form input,
#new_comment_form textarea {
    padding: 0 5px;
    height: 28px;
    width: 100%;
    border: 1px solid #ccc;
    background: white
}
#new_comment_form textarea {
    height: 80px
}
#new_comment_form .submit {
    margin-top: 20px;
    padding: 0;
    font-size: 13px;
    text-align: right
}
#new_comment_form #criterions_list {
    border-bottom: 1px solid #CCC;
    padding-bottom: 15px;
    list-style-type: none
}
#new_comment_form #criterions_list li {
    margin-bottom: 10px
}
#new_comment_form #criterions_list label {
    display: inline;
    float: left;
    margin: 0 10px 0 0
}
#new_comment_form #criterions_list .star_content {
    float: left
}
#new_comment_form #new_comment_form_footer {
    margin-top: 20px;
    font-size: 12px
}
#product_comments_block_tab {
    margin: 0 0 20px 0
}
#product_comments_block_tab div.comment {
    margin: 0 0 14px;
    padding-top: 14px;
    border-top: 1px solid #d6d4d4
}
#product_comments_block_tab div.comment:first-child {
    padding: 0;
    border: none
}
#product_comments_block_tab div.comment .comment_author {
    padding: 0 20px;
    line-height: 18px span;
    line-height-font-weight: bold;
    line-height-float: left
}
#product_comments_block_tab div.comment .comment_author .star_content {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px
}
#product_comments_block_tab div.comment .comment_details {
    overflow: hidden;
    border-left: 1px solid #d6d4d4
}
@media (max-width: 991px) {
    #product_comments_block_tab div.comment .comment_details {
        border-left: none
    }
    #product_comments_block_tab div.comment .comment_details ul {
        list-style-type: none;
        margin: 0
    }
    #product_comments_block_tab div.comment .comment_details ul li {
        padding: 2px 0 2px
    }
    #product_comments_block_tab div.comment .comment_details ul li:before {
        font-family: "FontAwesome";
        content: "\f0da";
        color: #333333;
        margin-right: 8px
    }
}
#product_comments_block_tab div.star:after {
    content: "\f006";
    font-family: "FontAwesome";
    display: inline-block;
    color: #777676
}
#product_comments_block_tab div.star_on:after {
    content: "\f005";
    font-family: "FontAwesome";
    display: inline-block;
    color: #ef8743
}
#product_comments_block_tab .comment_author_infos {
    clear: both;
    padding-top: 9px
}
#product_comments_block_tab .comment_author_infos strong {
    display: block;
    color: #333333
}
#product_comments_block_tab .comment_author_infos em {
    color: #adadad
}
#product_comments_block_tab a {
    text-decoration: none;
    font-weight: bold
}
#product_comments_block_tab span.report_btn {
    cursor: pointer
}
#product_comments_block_tab span.report_btn:hover {
    text-decoration: underline
}
.fl {
    float: left
}
.fr {
    float: right
}
table.subscriptionlist h4 {
    padding: 5px;
    background: #c0c0bb;
    width: 100%;
    color: white
}
table.subscriptionlist td#detail {
    cursor: pointer
}
.oneshot_alreadypaid {
    color: green;
    text-decoration: line-through;
    font-weight: bold
}
.oneshot_paid {
    color: green;
    font-weight: bold
}
.recurring_alreadypaid {
    color: green;
    text-decoration: line-through;
    font-weight: bold
}
.recurring_topay {
    color: red;
    font-weight: bold
}
.activated,
.disabled,
.completed,
.cancelled {
    padding: 3px 0;
    background-color: #666;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
    width: 70px;
    display: inline-block;
    font-weight: bold;
    text-align: center
}
td .disabled {
    color: #fff !important
}
.cancelled {
    background-color: #FF6B68
}
.completed {
    background-color: #68CAFF
}
.activated {
    background-color: #6FDB6D
}
#search_block_top {
    padding-top: 50px
}
#search_block_top #searchbox {
    float: left;
    width: 100%
}
#search_block_top .btn.button-search {
    background: #333333;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: white;
    width: 50px;
    text-align: center;
    padding: 10px 0 11px 0
}
#search_block_top .btn.button-search span {
    display: none
}
#search_block_top .btn.button-search:before {
    content: "\f002";
    display: block;
    font-family: "FontAwesome";
    font-size: 17px;
    width: 100%;
    text-align: center
}
#search_block_top .btn.button-search:hover {
    color: #6f6f6f
}
#search_block_top #search_query_top {
    display: inline;
    padding: 0 13px;
    height: 45px;
    line-height: 45px;
    background: #fbfbfb;
    margin-right: 1px
}
.ac_results {
    background: white;
    border: 1px solid #d6d4d4;
    width: 271px;
    margin-top: -1px
}
.ac_results li {
    padding: 0 10px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px
}
.ac_results li.ac_odd {
    background: white
}
.ac_results li:hover,
.ac_results li.ac_over {
    background: #fbfbfb
}
form#block_content {
    position: relative;
    height: 24px
}
form#searchbox {
    position: relative
}
form#searchbox label {
    color: #333333
}
form#searchbox input#search_query_block {
    font-size: 14px;
    font-family: "ArcherMedium";
    color: #000;
    width: 100%;
    height: 100%;
    display: inline-block;
    margin: 0;
    border: 1px solid #7f7f7f;
    padding: 5px 35px 5px 5px
}
form#searchbox .button.button-small {
    float: left
}
form#searchbox .button.button-small i {
    margin-right: 0
}
form#searchbox #search_button {
    position: absolute;
    right: 3px;
    top: 0;
    height: 100%;
    background: transparent;
    font-family: 'ArcherBold';
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s
}
form#searchbox #search_button:hover {
    color: #D81327
}
.ac_results {
    text-align: left;
    padding: 0;
    border: 1px solid black;
    background-color: white;
    overflow: hidden;
    z-index: 99999
}
.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0
}
.ac_results li {
    margin: 0;
    padding: 2px 5px;
    cursor: default;
    display: block;
    font: menu;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden
}
.ac_odd {
    background-color: #eee
}
.ac_over {
    background-color: #0A246A;
    color: white
}
.layer_cart_overlay {
    background-color: #000;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999;
/*    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=20);
*/    opacity: 0.2
}
* html .layer_cart_overlay {
    position: absolute;
    left: 0;
    margin-left: -160px;
/*    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=20);
*/    opacity: 0.2
}
#layer_cart {
    background-color: white;
    position: absolute;
    display: none;
    z-index: 999999991;
    width: 84%;
    left: 8%;
    right: 8%
}
#layer_cart .title_blockcart {
    font-family: 'ArcherBold';
    font-size: 28px;
    color: #d81327;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    line-height: normal
}
#layer_cart .layer_cart_product {
    padding: 30px 60px 20px 60px;
    overflow: hidden;
    position: static
}
#layer_cart .layer_cart_product h2 {
    font: 400 23px/29px Arial, Helvetica, sans-serif;
    color: #46a74e;
    margin-bottom: 22px;
    padding-right: 100px
}
#layer_cart .layer_cart_cart {
    text-align: center;
    padding: 0 20px 30px 20px
}
#layer_cart .layer_cart_cart .layer_cart_row {
    padding: 0 0 7px 0
}
#layer_cart .layer_cart_cart .button-container {
    margin-top: 50px;
    width: 100%;
    padding: 0 20px 0 20px
}
#layer_cart h2 {
    font-size: 19px
}
#layer_cart .layer_cart_cart .button-container .btn {
    margin-bottom: 10px
}
#layer_cart .layer_cart_cart .button-container span.exclusive-medium {
    margin-right: 5px
}
#layer_cart .layer_cart_cart .button-container span.exclusive-medium i {
    padding-right: 5px;
    color: #777777
}
#layer_cart .cross {
    position: absolute;
    right: 3px;
    top: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: #333333;
    z-index: 2
}
#layer_cart .continue {
    cursor: pointer
}
#layer_cart .ak-btn {
    margin-top: 15px;
    max-width: 240px;
    width: 100%
}
#layer_cart p {
    padding: 0
}
@media only screen and (max-width: 480px) {
    #layer_cart .title_blockcart {
        font-size: 18px
    }
    #layer_cart h2 {
        font-size: 14px
    }
    #layer_cart .layer_cart_cart {
        font-size: 12px
    }
    #layer_cart .ak-btn {
        font-size: 13px;
        margin-top: 10px
    }
    #layer_cart .layer_cart_cart .button-container {
        margin-top: 20px
    }
}
#block_top_menu {
    padding-top: 25px
}
.sf-contener {
    clear: both;
    float: left;
    width: 100%
}
.sf-menu,
.sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none
}
.sf-menu {
    position: relative;
    padding: 0;
    width: 100%;
    border-bottom: 3px solid #e9e9e9;
    background: #f6f6f6
}
@media (max-width: 767px) {
    .sf-menu {
        display: none
    }
}
.sf-menu ul {
    position: absolute;
    top: -999em;
    background: white
}
@media (max-width: 767px) {
    .sf-menu ul {
        position: relative
    }
}
.sf-menu ul li {
    width: 100%
}
.sf-menu li:hover {
    visibility: inherit
}
.sf-menu > li {
    float: left;
    border-right: 1px solid #d6d4d4;
    margin-bottom: -3px
}
@media (max-width: 767px) {
    .sf-menu > li {
        float: none;
        position: relative;
        border-right: none
    }
    .sf-menu > li span {
        position: absolute;
        right: 6px;
        top: 20px;
        width: 30px;
        height: 30px;
        z-index: 2
    }
    .sf-menu > li span:after {
        font-family: "FontAwesome";
        content: "\f067";
        font-size: 26px
    }
    .sf-menu > li span.active:after {
        content: "\f068"
    }
}
.sf-menu > li > a {
    font: 600 18px/22px "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #484848;
    display: block;
    padding: 17px 20px;
    border-bottom: 3px solid #e9e9e9
}
.sf-menu > li.sfHover > a,
.sf-menu > li > a:hover,
.sf-menu > li.sfHoverForce > a {
    background: #333333;
    border-bottom-color: #666666;
    color: white
}
.sf-menu li li li a {
    display: inline-block;
    position: relative;
    color: #777777;
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;
    padding-bottom: 10px
}
.sf-menu li li li a:before {
    content: "\f105";
    display: inline-block;
    font-family: "FontAwesome";
    padding-right: 10px
}
.sf-menu li li li a:hover {
    color: #333333
}
.sf-menu li ul {
    display: none;
    left: 0;
    top: 59px;
    z-index: 99;
    padding: 12px 0 18px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 13px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 13px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 13px
}
@media (max-width: 767px) {
    .sf-menu li ul {
        top: 0
    }
}
.sf-menu li li ul {
    position: static;
    display: block !important;
    opacity: 1 !important;
    background: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0) 0 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0) 0 0 0;
    box-shadow: rgba(0, 0, 0, 0) 0 0 0
}
.sf-menu li li li ul {
    padding: 0 0 0 20px
}
.sf-menu li li li ul {
    width: 220px
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
    top: -999em
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
    left: 200px;
    top: 0
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
    top: -999em
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
    left: 200px;
    top: 0
}
.sf-menu > li > ul {
    padding: 26px 30px 31px;
    width: 100%
}
.sf-menu > li > ul > li > a {
    text-transform: uppercase;
    font: 600 16px/20px "Open Sans", sans-serif;
    color: #333333
}
.sf-menu > li > ul > li > a:hover {
    color: #515151
}
.sf-menu > li > ul > li {
    float: left;
    width: 20%;
    padding-right: 15px
}
@media (max-width: 767px) {
    .sf-menu > li > ul > li {
        width: 50%
    }
}
@media (max-width: 479px) {
    .sf-menu > li > ul > li {
        width: 100%;
        padding-bottom: 20px
    }
}
@media (min-width: 768px) {
    .sf-menu > li > ul > li.first-in-line-lg {
        clear: left
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .sf-menu > li > ul > li.first-in-line-xs {
        clear: left
    }
}
.sf-menu > li > ul > li#category-thumbnail {
    width: 100% !important;
    float: none;
    clear: both;
    overflow: hidden;
    padding-right: 0
}
.sf-menu > li > ul > li#category-thumbnail > div {
    float: left;
    padding-left: 10px;
    width: 33.333%
}
@media (max-width: 479px) {
    .sf-menu > li > ul > li#category-thumbnail > div {
        width: 100%;
        padding-left: 0;
        padding-top: 10px;
        text-align: center
    }
}
.sf-menu > li > ul > li#category-thumbnail > div:first-child {
    padding-left: 0
}
.sf-menu > li > ul > li#category-thumbnail > div img {
    max-width: 100%;
    display: block
}
.cat-title {
    display: none
}
@media (max-width: 767px) {
    .cat-title {
        display: block;
        font: 600 18px/22px "Open Sans", sans-serif;
        text-transform: uppercase;
        color: #484848;
        display: block;
        padding: 17px 20px;
        border-bottom: 3px solid #e9e9e9;
        background: #f6f6f6;
        position: relative
    }
    .cat-title:hover {
        background: #333333;
        border-bottom-color: #666666;
        color: white
    }
    .cat-title:after {
        display: block;
        font-family: "FontAwesome";
        content: "\f067";
        position: absolute;
        right: 15px;
        top: 18px;
        font-size: 26px
    }
    .cat-title.active:after {
        content: "\f068"
    }
}
.sf-menu li.sf-search {
    border: none
}
.sf-menu li.sf-search input {
    display: inline;
    padding: 0 13px;
    height: 30px;
    line-height: 30px;
    background: white;
    margin: 13px 10px 0 0;
    font-size: 13px;
    color: #9c9b9b;
    border: 1px solid #d6d4d4
}