/*@font-face {
    font-family: 'ArcherBold';
    src: url('../assets/fonts/archer-bold-pro.eot');
    src: url('../assets/fonts/archer-bold-pro.eot') format('embedded-opentype'), url('../assets/fonts/archer-bold-pro.woff') format('woff'), url('../assets/fonts/archer-bold-pro.ttf') format('truetype'), url('../assets/fonts/archer-bold-pro.svg') format('svg');
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: 'ArcherMedium';
    src: url('../assets/fonts/archer-medium-pro.eot');
    src: url('../assets/fonts/archer-medium-pro.eot') format('embedded-opentype'), url('../assets/fonts/archer-medium-pro.woff') format('woff'), url('../assets/fonts/archer-medium-pro.ttf') format('truetype'), url('../assets/fonts/archer-medium-pro.svg') format('svg');
}
@font-face {
    font-family: 'ArcherBook';
    src: url('../assets/fonts/archer-book-pro.eot');
    src: url('../assets/fonts/archer-book-pro.eot') format('embedded-opentype'), url('../assets/fonts/archer-book-pro.woff') format('woff'), url('../assets/fonts/archer-book-pro.ttf') format('truetype'), url('../assets/fonts/archer-book-pro.svg') format('svg');
}
@font-face {
    font-family: 'LandmarkInline';
    src: url(' ../assets/fonts/landmark-inline.eot');
    src: url(' ../assets/fonts/landmark-inline.eot') format('embedded-opentype'), url(' ../assets/fonts/landmark-inline.woff') format('woff'), url(' ../assets/fonts/landmark-inline.ttf') format('truetype'), url(' ../assets/fonts/landmark-inline.svg') format('svg');
}
@font-face {
    font-family: 'LandmarkDimensional';
    src: url(' ../assets/fonts/landmark-dimensional.eot');
    src: url(' ../assets/fonts/landmark-dimensional.eot') format('embedded-opentype'), url(' ../assets/fonts/landmark-dimensional.woff') format('woff'), url(' ../assets/fonts/landmark-dimensional.ttf') format('truetype'), url(' ../assets/fonts/landmark-dimensional.svg') format('svg');
}
@font-face {
    font-family: 'SentinelSemiboldItalic';
    src: url(' ../assets/fonts/sentinel-semibolditalic.eot');
    src: url(' ../assets/fonts/sentinel-semibolditalic.eot') format('embedded-opentype'), url(' ../assets/fonts/sentinel-semibolditalic.woff2') format('woff2'), url(' ../assets/fonts/sentinel-semibolditalic.woff') format('woff'), url(' ../assets/fonts/sentinel-semibolditalic.ttf') format('truetype'), url(' ../assets/fonts/sentinel-semibolditalic.svg') format('svg');
}
@font-face {
    font-family: 'SentinelMediumItalic';
    src: url(' ../assets/fonts/sentinel-mediumitalic.eot');
    src: url(' ../assets/fonts/sentinel-mediumitalic.eot') format('embedded-opentype'), url(' ../assets/fonts/sentinel-mediumitalic.woff2') format('woff2'), url(' ../assets/fonts/sentinel-mediumitalic.woff') format('woff'), url(' ../assets/fonts/sentinel-mediumitalic.ttf') format('truetype'), url(' ../assets/fonts/sentinel-mediumitalic.svg') format('svg');
}
@font-face {
    font-family: 'Archer-Semibold';
    src: url('../assets/fonts/archersemiboldlatinlatinextgdi.eot');
    src: url('../assets/fonts/archersemiboldlatinlatinextgdi.eot') format('embedded-opentype'), url(' ../assets/fonts/archersemiboldlatinlatinextgdi.woff') format('woff'), url(' ../assets/fonts/archersemiboldlatinlatinextgdi.ttf') format('truetype'), url(' ../assets/fonts/archersemiboldlatinlatinextgdi.svg') format('svg');
    font-weight: 375;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-20AC;
}
@font-face {
    font-family: 'Archer-Light';
    src: url(' ../assets/fonts/Archer-Light.eot') format('embedded-opentype'), url(' ../assets/fonts/Archer-Light.otf') format('opentype'), url(' ../assets/fonts/Archer-Light.woff') format('woff'), url(' ../assets/fonts/Archer-Light.ttf') format('truetype'), url(' ../assets/fonts/Archer-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SentinelBook';
    src: url(' ../assets/fonts/sentinel-book-webfont.eot');
    src: local('â˜º'), url(' ../assets/fonts/sentinel-book-webfont.woff') format('woff'), url(' ../assets/fonts/sentinel-book-webfont.ttf') format('truetype'), url(' ../assets/fonts/sentinel-book-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SentinelMedium';
    src: url(' ../assets/fonts/sentinel-medium-webfont.eot');
    src: local('â˜º'), url(' ../assets/fonts/sentinel-medium-webfont.woff') format('woff'), url(' ../assets/fonts/sentinel-medium-webfont.ttf') format('truetype'), url(' ../assets/fonts/sentinel-medium-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Archer-BoldItalic';
    src: url('../assets/fonts/Archer-BoldItalic.eot') format('embedded-opentype'), url(' ../assets/fonts/Archer-BoldItalic.otf') format('opentype'), url(' ../assets/fonts/Archer-BoldItalic.woff') format('woff'), url(' ../assets/fonts/Archer-BoldItalic.ttf') format('truetype'), url(' ../assets/fonts/Archer-BoldItalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSerif-Caption';
    src: url(' ../assets/fonts/PTSerif-Caption.eot') format('embedded-opentype'), url(' ../assets/fonts/PTSerif-Caption.woff') format('woff'), url('PTSerif-Caption.ttf') format('truetype'), url(' ../assets/fonts/PTSerif-Caption.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sentinel-BoldItalic';
    src: url(' ../assets/fonts/Sentinel-BoldItalic.eot') format('embedded-opentype'), url(' ../assets/fonts/Sentinel-BoldItalic.otf') format('opentype'), url(' ../assets/fonts/Sentinel-BoldItalic.woff') format('woff'), url(' ../assets/fonts/Sentinel-BoldItalic.ttf') format('truetype'), url(' ../assets/fonts/Sentinel-BoldItalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/* libre-baskerville-regular - latin */
@font-face {
  font-family: 'ArcherMedium';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/libre-baskerville-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'),
       url('../assets/assets/fonts/libre-baskerville-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/libre-baskerville-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/libre-baskerville-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/libre-baskerville-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/libre-baskerville-v5-latin-regular.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}
/* libre-baskerville-italic - latin */
@font-face {
  font-family: 'ArcherBook';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/libre-baskerville-v5-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'),
       url('../assets/fonts/libre-baskerville-v5-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/libre-baskerville-v5-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/libre-baskerville-v5-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/libre-baskerville-v5-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/libre-baskerville-v5-latin-italic.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}
/* libre-baskerville-700 - latin */
@font-face {
  font-family: 'ArcherBold';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/libre-baskerville-v5-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'),
       url('../assets/fonts/libre-baskerville-v5-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/libre-baskerville-v5-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/libre-baskerville-v5-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/libre-baskerville-v5-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/libre-baskerville-v5-latin-700.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'SentinelBook';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../assets/fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/open-sans-v15-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../assets/fonts/open-sans-v15-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/open-sans-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/open-sans-v15-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/open-sans-v15-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/open-sans-v15-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/open-sans-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../assets/fonts/open-sans-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/open-sans-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/open-sans-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/open-sans-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/open-sans-v15-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* alegreya-sans-regular - latin */
@font-face {
  font-family: 'PTSerif-Caption';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/alegreya-sans-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Sans Regular'), local('AlegreyaSans-Regular'),
       url('../assets/fonts/alegreya-sans-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/alegreya-sans-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/alegreya-sans-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/alegreya-sans-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/alegreya-sans-v6-latin-regular.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}