.abecedaire {
    margin-top: 2px;
    margin-bottom: 20px;
}
.abecedaire a {
    width: 36px;
    height: 35px;
    background: #BEF0A3;
    line-height: 35px;
    display: inline-table;
    text-align: center;
    text-decoration: none;
    font-family: 'ArcherBold';
    font-size: 18px;
    color: #808080;
    margin-top: 2px;
    margin-bottom: 2px;
}

.abecedaire a:hover {
    color: #D81327;
    background: #C7C2BD;
}

.abecedaire a.active {
    background: #C7C2BD;
    color: #000000;
}

.part-a {
    width: 482px;
}

.participants{ 
   /* margin-left: -18px; */
    margin-bottom: 45px;
}
.participants a {
  width: 255px;
    margin-right: 35px;
    text-decoration: none;
    color: #666666;
    padding-top: 5px;
    padding-bottom: 2px;
    position: relative;
    display: block;
    float: left;
    font-size: 13px;
}

.participants a i.bg {
    background: #000;
    font-style: normal;
}

.participants a i.eq {
    display: inline-block;
    text-indent: -999999999px;
    font-size: 0;
    width: 10px;
    height: 19px;
    background: url(../img/eq-1.svg) no-repeat center center;
    vertical-align: middle;
    top: -4px;
    position: relative;
}

.participants .hover-eq {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 94px;
   /* margin-left: -47px;*/
    display: none;
}

.participants a i.icon {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    position: absolute;
    left: -13px;
    top: 13px;
}

.participants span.text {
    padding-left: 5px;
    position: relative;
    display: inline-table;
    padding-right: 15px;
    padding-bottom:5px; 
    padding-top:5px; 
}

.participants a.eq-1 span.text {
     background: url(../img/eq-1.svg) no-repeat right top;
}

.participants a:hover span.text {
    text-decoration: underline;
    color: #000000;
}

.participants a:hover i.icon {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;

}


#desc-part .author-desc {
    text-transform: inherit;
    margin-top: 10px;
    color: #666666;
    margin-bottom: 15px;
    width: 405px;
}
#desc-part .author-desc p {
    margin: 0;
}

#desc-part .author {
    margin: 0;
    font-size: 15px;
    font-weight: normal;
    font-family: 'ArcherBold';
    color: #D81327;
    line-height: 16px;
    text-decoration: none;
}
#desc-part .img-pa img {
    max-width: 150px;
    margin-top: 10px
}

#desc-part .articles-author strong {
    font-family: 'ArcherBold';
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 7px;
    display: block;
    margin-top: 25px;
}

#desc-part ul {
    color: #000000;
    font-size: 13px;
    padding: 0;
}

#desc-part ul li {
    float: left;
    width: 100%;
    max-width: 330px;
    margin-right: 20px;
    list-style: none; 
    padding-top: 5px;
}

#desc-part ul li:before {
    content: '.';
    width: 10px;
    display: inline-block;
    float: left;
}

#desc-part ul li a {
    text-decoration: none;
    color: #333333;
    margin-left: 12px;
    display: block;
    margin-bottom: 3px;
}

#desc-part ul li a:hover {
    text-decoration: underline;
}

.separator {
    width: 88px;
    height: 3px;
    background: #4A4643;
    margin-top: 20px;
    margin-bottom: 55px;
}


@media only screen and (max-width: 634px)  {
    .abecedaire {
        width: 100%;
    }
    .abecedaire a {
        width: 39px;
    }
    #desc-part .author-desc {
        width: 100%;
    }
    .participants a {
        margin-right: 0;
        width: 100%;
    }
}

#search {
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    padding: 0;
    margin: 0;
    margin-right: 3px;
    height: 25px;
}

.ak-btn2 {
    display: inline-block;
    font-family: "Archer-Semibold";
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    padding: 3px 15px;
    border: none;
    background: #9D3934;
    text-align: center;
    vertical-align: top;
}