.result {
    margin-top: 5px;
    margin-bottom: 100px;
}

.article-search {
    margin-top: 25px;
}

.article-search article {
  
}
.article-search h2 {
    font-size: 16px;
}
.article-search article a {
    font-weight: normal;
    font-family: 'ArcherBold';
    font-size: 14px;
    color: #D81327;
    line-height: 16px;
    text-decoration: underline;
}

.article-search article a:hover {
    color: #000;
}

.article-search  article h3 {
    margin: 0;
}

.article-search  article h3 a {
    text-decoration: none;
    display: block;
    font-size: 19px;
    color: #000000;
    line-height: 27px;
}

.article-search  article h3 a:hover {
    color: #D81327;
}

.article-search  article {
    position: relative;
    padding-right: 50px;
    display: inline-table;
    position: relative;
    padding-top: 20px;
    margin-bottom: 20px;
}

.article-search article:after  {
    content: "";
    width: 50px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
}
.article-search article:first-child {
    padding-top: 0;
}
.article-search article:first-child:after,
.article-search.archive article:after {
    display: none;
}

.article-search  article span.img {
    display: block;
    width: 43px;
    position: absolute;
    right: 0px;
    top: 5px;
    overflow: hidden;
}
.article-search  article span.img img {
    max-width: 100%;
    text-align: center;
}

.article-search  article h4 {
    font-family: Verdana;
    font-size: 11px;
    font-weight: normal;
    color:  #000000;
    margin: 13px 0 0 0;
}

.article-search  article .num-date {
      font-family: 'ArcherBold';
    font-size: 15px;
    line-height: 18px;
    color: #666360;
    display: block;
    margin-bottom: 8px;
}
.result .col a.active ,.result .col span{
    background: #EAE5DF;
    color: #000000;
    position: relative;
}

.result .col a.active .icon-selected,.result .col span .icon-selected {
    background: url(../img/arrow-bottom.png) no-repeat center center;
    display: inline-table;
    width: 24px;
    height: 14px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    left: -30px;
}

.pager {
    list-style: none;
    padding: 0;
}

.pager li {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid;
    line-height: 18px;
    vertical-align: middle;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 6px;
    text-align: center;
}

.pager li a,.pager li span {   
    display: block;
    text-decoration: none;
    font-family: 'ArcherBold';
    font-size: 15px;
    color: #000;
}

.pager li a:hover,.pager li.disable span {
    color: #D81327;
}

.pager li.disable span.disabled {
    color: gray;
}

.result {
    margin-top: 5px;
    margin-bottom: 100px;
}

.col {
    width: 235px;
    margin-right: 10px;
}

.col h3 {
    font-family: 'ArcherBold';
    line-height: 29px;
    text-indent: 10px;
    background: #C45D5A;
    height: 29px;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
.inner-col a, .result .col span {
    display: block;
    background: #FFF9F3;
    margin-top: 1px;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 13px;
    color: #666666;
}

.inner-col a.odd {
    background: #F7F1EB;
}
.result .col a.active, .result .col span {
    background: #EAE5DF;
    color: #000000;
    position: relative;
}

.result .col a.active .icon-selected, .result .col span .icon-selected {
    background: url(../img/arrow-bottom.png) no-repeat center center;
    display: inline-table;
    width: 24px;
    height: 14px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    left: -30px;
}

.sommes-nous {
    margin-bottom: 60px;
}

.sommes-nous strong {
    font-weight: bold;
}

.sommes-nous a {
    color: inherit;
}
.sommes-nous a:hover {
    color: #D81327;
}
.tabs-title ,h2.page-title {
    list-style: none;
    margin-left: 160px;
    display: table;
    border-collapse: separate;
    border-spacing: 5px;
}
span.page-title {
   font-family: 'ArcherBold';
    color: #D81327;
    border: 1px solid #000000;
    display: block;
    text-align: left;
    font-size: 16px;
    padding: 2px 8px;
    margin-bottom: 10px;
}

.tabs-title li.title {
    background: transparent;

}

.tabs-title li {
    background:  #FFF9F3;   
    line-height: 16px;
    margin-bottom: 5px;
    vertical-align: middle;
    display: table-row;
}

.tabs-title a {
    color: #333333;
    text-decoration: none;
    display: block;    
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #000000;
    display: block;
}

.tabs-title li b {
    font-weight: normal;
    font-family: 'ArcherBold';
    font-size: 16px;
    color: #000000;
    margin-right: 5px;
}

.line-tab {
    margin-bottom: 20px;
}

.line-tab .left {
    width: 150px;
    text-align: right;
}

.line-tab .left img {
    max-width: 80%;
}

.line-tab .right {
    /*width: 680px;*/
    float: left;
    margin-left: 10px;
    font-size: 11px;
    color: #000000;
    line-height: 19px;
    font-family: "Georgia";
    font-size: 16px;
    line-height: 21px;
}
.line-tab .right p {
    margin-bottom: 10px;
}
.line-tab .right img {
    max-width: 100%;
}

.tab .desc-tab {
    margin-left: 160px;
    margin-bottom: 30px;
    margin-top: 35px;
}

.tab .desc-tab h3 {
    font-size: 16px;
    color: #000000;
    margin-bottom: 15px;
}

.tab .desc-tab p {
    color: #666666;
    font-size: 11px;
    line-height: 16px;
}

.tab h4.name {
    font-size: 16px;
    color: #D81327;
    line-height: 19px;
}

.top-page {
    color: #000000;
    font-family: Arial;
    font-size: 9px;
    text-decoration: none;
    display: inline-table;
    background: url(../img/top.png) no-repeat center left;
    padding-left: 33px;
    height: 18px;
    vertical-align: middle;
    line-height: 18px;
    margin-left: 160px;
}

.partenaires {
    margin-bottom: 20px;
    margin-top: 30px;
}
.partenaires .b-p {
    width: 275px;
    /*float: left;*/
    display: inline-block;
    vertical-align: top;
    margin-right: 24px;
    margin-bottom: 40px;
}
.partenaires .cp {
    /*font-family: "Georgia";*/
    font-size: 14px;
}
.partenaires .b-p .logo {
    width: 160px;
    height: 180px;
    background-color: #fff;
    position: relative; 
}
.partenaires .b-p .logo .title {
    height: 20px;
    border-bottom: 1px solid #000000;
    background: #C45D5A;
    line-height: 20px;
    text-indent: 5px;
    font-family: "Verdana";
    font-size: 11px;
    display: none;
}

.partenaires .b-p .logo .img {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 160px;
  height: 160px;
  overflow: hidden;
}

.partenaires .b-p .logo img {
   max-width: 157px;
   max-height: 159px;
   height: auto;
}

.partenaires .b-p .cp {
    margin-top: 10px;
}
.partenaires .b-p .cp p {
    margin: 0;
}

.partenaires .b-p .cp a.link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 11px;
}
.partenaires .b-p .cp a.link:hover {
    color: #D81327;
}
.partenaires .events {
    margin-top: 10px;
    position: relative;
}

.partenaires .events .event-img {
    width: 52px;
    float: left;
}
.partenaires .events .event-img img {
    max-width: 52px;
}

.partenaires .events .event-txt {
    /*margin-left: 60px;*/
}

.partenaires .events ul {
   list-style: none;
    padding: 10px 0 0 0;
    margin: 0;
}

.partenaires .events ul li {
    background:url('../img/liste-style.svg') no-repeat 0 5px;
    padding-left:20px;
    margin-bottom: 15px;
    /*line-height: 13px;*/
    font-size: 12px;
}
.partenaires .events ul li a {
    color: #666666;
    /*font-size: 11px;*/
    text-decoration: none;
}
.partenaires .events ul li a:hover {
    color: #D81327;
}

.partenaires .num-s {
    display: table-cell;
    vertical-align: bottom;
    height: 40px;
    color: #666666;
    cursor: pointer;
    position: relative;
}

.partenaires .num-s:hover {
    text-decoration: underline;

}

.partenaires .num-s:hover .popup-num {
    text-decoration: none !important;
}

.partenaires .popup-num {
    position: absolute;
    padding: 0px;
    width: 339px;
    /*border: 2px solid #000000;*/
    /*min-height: 150px;*/
    background: #FFFFFF;
    bottom: 10px;
    left: 10px;
    display: none;
    z-index: 999;
}

.partenaires .popup-num.text-empty {
    width: auto !important;
}

.partenaires .popup-num .img {
    width: 135px;
    float: left;
}
.partenaires .popup-num .img img {
    max-width: 135px;
}

.partenaires .popup-num .text {
    margin-left: 145px;
    padding-top: 15px;
}


@media only screen and (max-width: 1042px){


}

@media only screen and (max-width: 770px){

}

@media only screen and (max-width: 634px)  {
    .partenaires .b-p {
        margin-right: 0;
    }
    .partenaires {
        margin-right: 0px;
    }
}

@media only screen and (min-width: 481px) {

    .podcast-title {
        font-size: 30px !important;
    }
}
@media only screen and (min-width: 981px) {

    .podcast-title {
        font-size: 40px !important;
    }
}

.intro-podcast {
    text-align: justify;
}

.center {
    text-align: center;
    font-size: 14px !important;
}
.credentials {
    font-size: 10px;
}
.aerian {
    line-height: 160%;
}

.content-slider1 {
    font-family: 'SentinelBook';
    font-size: 16px;
    /* max-width: 530px; */
    margin-bottom: 15px;
}

.name1 {
    text-decoration: underline;
    color: #000;
    font-family: "ArcherBold";
    font-size: 13px;
    display: block;
}

.imageabonne {
    float: left;
    max-width: 80px;
    padding-right: 10px;
}