.svg-img--acount {
	background: url("svg/sprite.svg") 51.91729261517726% 79.24904997974576% no-repeat;
}

.svg-img--acount-dims {
	width: 28.318px;
	height: 28.318px;
}

.svg-img--acount-red {
	background: url("svg/sprite.svg") 99.30227971269373% 0 no-repeat;
}

.svg-img--acount-red-dims {
	width: 28.318px;
	height: 28.318px;
}

.svg-img--arrow-left {
	background: url("svg/sprite.svg") 24.939268885181612% 96.57631483376804% no-repeat;
}

.svg-img--arrow-left-dims {
	width: 13.332px;
	height: 10.844px;
}

.svg-img--cart {
	background: url("svg/sprite.svg") 75.18942818165382% 79.24904997974576% no-repeat;
}

.svg-img--cart-dims {
	width: 28.318px;
	height: 28.318px;
}

.svg-img--cart-red {
	background: url("svg/sprite.svg") 99.30227971269373% 27.312358943693216% no-repeat;
}

.svg-img--cart-red-dims {
	width: 28.318px;
	height: 28.318px;
}

.svg-img--cart-white {
	background: url("svg/sprite.svg") 99.04344262295082% 54.02497305237855% no-repeat;
}

.svg-img--cart-white-dims {
	width: 28px;
	height: 27.167px;
}

.svg-img--chevron-down {
	background: url("svg/sprite.svg") 91.93651990560373% 83.78284541939556% no-repeat;
}

.svg-img--chevron-down-dims {
	width: 6.774px;
	height: 5.27px;
}

.svg-img--chevron-down-2 {
	background: url("svg/sprite.svg") 86.83276322975652% 84.22146426588404% no-repeat;
}

.svg-img--chevron-down-2-dims {
	width: 10.844px;
	height: 5.93px;
}

.svg-img--close {
	background: url("svg/sprite.svg") 34.07154046246929% 96.56834425498903% no-repeat;
}

.svg-img--close-dims {
	width: 10.834px;
	height: 10.834px;
}

.svg-img--down {
	background: url("svg/sprite.svg") 0 99.63469775283771% no-repeat;
}

.svg-img--down-dims {
	width: 11.438px;
	height: 14.563px;
}

.svg-img--down-w {
	background: url("svg/sprite.svg") 8.254788470143328% 99.00242835506444% no-repeat;
}

.svg-img--down-w-dims {
	width: 11.438px;
	height: 13.813px;
}

.svg-img--footer-journal {
	background: url("svg/sprite.svg") 0 0 no-repeat;
}

.svg-img--footer-journal-dims {
	width: 46.5px;
	height: 45px;
}

.svg-img--gift {
	background: url("svg/sprite.svg") 74.18849557522124% 0 no-repeat;
}

.svg-img--gift-dims {
	width: 37px;
	height: 36.5px;
}

.svg-img--home {
	background: url("svg/sprite.svg") 28.636359900383834% 80.32514443803584% no-repeat;
}

.svg-img--home-dims {
	width: 28.333px;
	height: 29.707px;
}

.svg-img--journal {
	background: url("svg/sprite.svg") 41.27206724240461% 0 no-repeat;
}

.svg-img--journal-dims {
	width: 37.333px;
	height: 37.25px;
}

.svg-img--le1-mobile {
	background: url("svg/sprite.svg") 62.171281944794636% 37.65021403888803% no-repeat;
}

.svg-img--le1-mobile-dims {
	width: 15.158px;
	height: 35.055px;
}

.svg-img--lock {
	background: url("svg/sprite.svg") 52.17677204468619% 38.16891015038551% no-repeat;
}

.svg-img--lock-dims {
	width: 10.091px;
	height: 14.103px;
}

.svg-img--ok {
	background: url("svg/sprite.svg") 71.62724398167913% 46.19661618228953% no-repeat;
}

.svg-img--ok-dims {
	width: 11.797px;
	height: 14.736px;
}

.svg-img--pencil {
	background: url("svg/sprite.svg") 32.158590308370044% 47.451836386068145% no-repeat;
}

.svg-img--pencil-dims {
	width: 36.5px;
	height: 37.167px;
}

.svg-img--pencil-red {
	background: url("svg/sprite.svg") 0 47.451836386068145% no-repeat;
}

.svg-img--pencil-red-dims {
	width: 36.5px;
	height: 37.167px;
}

.svg-img--search {
	background: url("svg/sprite.svg") 74.02413854989231% 31.92568749562662% no-repeat;
}

.svg-img--search-dims {
	width: 16.272px;
	height: 17.672px;
}

.svg-img--unlock {
	background: url("svg/sprite.svg") 16.4822179952735% 98.80095923261392% no-repeat;
}

.svg-img--unlock-dims {
	width: 11.208px;
	height: 13.572px;
}

.svg-img--valide {
	background: url("svg/sprite.svg") 0 84.56962298912094% no-repeat;
}

.svg-img--valide-dims {
	width: 34.841px;
	height: 34.841px;
}

.svg-img--valide-2 {
	background: url("svg/sprite.svg") 94.58551859099803% 76.44515393386544% no-repeat;
}

.svg-img--valide-2-dims {
	width: 22.25px;
	height: 22.375px;
}
