
<div class="container page-authentification">

  <span style="font-size: 27px;"><strong class="first">Kitafétoi - accès pour nos généreux soutiens</strong></span>
  <p style="padding-right: 50px;" class="aerian">Kitafétoi ?, supplément à parution aléatoire du Nouvel Esprit public, est un dialogue entre Philippe Meyer et un(e) invité(e) qui évoque les rencontres qui, de l’enfance à l’âge mûr, lui ont permis de s’accomplir. Kitafétoi ? est proposé en exclusivité pendant deux semaines aux abonnés du Nouvel Esprit public et aux personnes qui soutiennent notre podcast.</p>
  <div class="result">
    <div class="article-search archive">
      <article class=" on" style="height: 223px;">
        <div class="entry-content">
          <div>
            <h2>Bernard Pivot</h2>
            <iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/480605085&color=%239D3934&auto_play=false&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=false&visual=false"></iframe>
            <p class="aerian">Premier des hôtes de Kitafétoi ? <strong>Bernard Pivot</strong> évoque celles et ceux qui ont permis à un petit garçon solitaire, renfermé et falot de devenir un octogénaire plébiscité par ses concitoyens, à un journaliste sans qualités autres que le travail de devenir une figure de sa profession, à un animateur cité en exemple de ne pas se changer en statue et de préférer explorer toutes les voies qui se sont ouvertes à lui jusqu’à celle qui l’a conduit aujourd’hui sur scène avec « Au Secours ! Les Mots m’ont mangé ».</p>
          </div>
        </div>
        <span class="icon-top"><i class="sprite etat"></i></span>
      </article>
      <article class=" on" style="height: 223px;">
        <div class="entry-content">
          <div>
            <h2>Roselyne Bachelot</h2>
            <iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/480609927&color=%239D3934&auto_play=false&hide_related=false&show_comments=false&show_user=false&show_reposts=false&show_teaser=false"></iframe>
            <p class="aerian">Au cours de la deuxième édition de ce supplément, <strong>Roselyne Bachelot</strong> raconte les figures qui lui ont transmis en héritage comme deux évidences le féminisme et le gaullisme. Un féminisme nourri d’exemples découverts dans les deux générations de femmes qui l’ont élevée et un gaullisme façonné par des modèles issus de toutes les formes de résistance. Ce double legs a permis à la future ministre de la Santé d’ébranler quelques forteresses, à commencer par celles de la politique, puis de conquérir sa place à la radio puis à la télévision, le tout grâce à (ou en dépit) des personnalités dont elle brosse le portrait.</p>
          </div>
        </div>
        <span class="icon-top"><i class="sprite etat"></i></span>
      </article>

    </div>
  </div>
</div>
