<%= form_for(podcast) do |f| %>
  <% if podcast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(podcast.errors.count, "error") %> prohibited this podcast from being saved:</h2>

      <ul>
      <% podcast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :lien %>
    <%= f.text_field :lien %>
  </div>

  <div class="field">
    <%= f.label :title1 %>
    <%= f.text_field :title1 %>
  </div>

  <div class="field">
    <%= f.label :intro1 %>
    <%= f.text_field :intro1 %>
  </div>

  <div class="field">
    <%= f.label :title2 %>
    <%= f.text_field :title2 %>
  </div>

  <div class="field">
    <%= f.label :intro2 %>
    <%= f.text_field :intro2 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
