<div class="container clearfix">
  <div class="table articles  page-edito ">
    <section class="left-article table-cell">
      <!-- left-article -->
      <article class="clearfix edito">
        <div class="table">
          <div class="body-edito table-cell">
            <header>
              <h1 class='podcast-title'><%= @podcast.title %></h1>
            </header>
            <iframe src="<%= @podcast.lien %>/embed" style="width: 100%; height: 200px; border: 0 none;" scrolling="no"></iframe>
            <% if @podcast.pdf %>
              <a href=<%= @podcast.pdf %>>Téléchargez le pdf du podcast.</a>
            <% end %>
            <div class="entry-content">
              <h2><%= @podcast.title1 %></h2>
              <h3>Introduction</h3>
              <p class='intro-podcast aerian' style="font-family:ArcherLight;"><%= @podcast.intro1.html_safe %></p>
              <% if @podcast.kontildondit1 %>
                <h3 id="kontildondit1">Kontildondit ?</h3>
                <p class='intro-podcast aerian' style="font-family:ArcherLight;" ><%= @podcast.kontildondit1.html_safe %></p>
              <% end %>
              <% if @podcast.title2 %>
                <h2><%= @podcast.title2 %></h2>
                <h3>Introduction</h3>
                <p class='intro-podcast aerian' style="font-family:'ArcherLight';"><%= @podcast.intro2.html_safe %></p>
                <% if @podcast.kontildondit2 %>
                  <h3 id="kontildondit2">Kontildondit ?</h3>
                  <p class='intro-podcast aerian' style="font-family:ArcherLight;" ><%= @podcast.kontildondit2.html_safe %></p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </article>
      <!-- last article -->
      <div class="last-post clearfix">
        <h2>Les brèves</h2>
        <% @podcast.books.each do |book| %>
          <article class="post-5 on" style="height: 296px;">
            <a href="<%= book.lien %>" class="">
              <div class="clearfixd">
                <img src="<%= book.image.url %>" alt="">
                <div class="infos-right">
                  <span class="cat"></span>
                  <h2><%= book.titre %></h2>
                  <!-- <p></p> -->
                  <p class="author"><%= book.intervenant.nom %></p>
                </div>
              </div>
              <div class="entry-content">
                <div>
                  <p>"<%= book.description.html_safe %>"</p>
                </div>
              </div>
              <span class="icon-top"><i class="sprite etat"></i></span>
            </a>
          </article>
        <% end %>
        <div class="clearfix"></div>
        <!-- <div class="sep-art"></div> -->
      </div>
      <!-- liste journal -->
      <div class="last-num">
        <ul class="clearfix">
          <li class="view-all"><%= link_to 'VOIR TOUS LES PODCASTS', podcasts_path %></li>
        </ul>
      </div>
    </section>
  </div>
</div>
