<div class="container page-authentification">

  <span style="font-size: 27px;"><strong class="first">Des conversations </strong> approfondies autour d'un expert</span>
  <%# form_tag(podcasts_path method: :get) do %>
    <%# text_field_tag :search %>
    <%# submit_tag 'Chercher un podcast', name: nil %>
  <%# end %>

  <div class="result">
    <script src='//w.soundcloud.com/player/api.js'></script>
    <div class="article-search archive">
      <%= form_tag thematiques_path, method: :get do %>
        <%= label_tag  "Chercher une thématique traitant de :" %>
        <%= text_field_tag :search, params[:search], class: 'searchinput' %>
        <%= submit_tag 'Chercher', name: nil, class: 'ak-btn2' %>
      <% end %>

      <% @podcasts.each do |podcast| %>
        <article>
          <h3>
            <%= link_to podcast.title, podcast, class: 'author' %>
          </h3>
          <p>diffusé le <%= podcast.created_at.strftime("%d-%m-%Y") %></p>
          <span class="num-date"></span>
          <iframe src="<%= podcast.lien %>/embed" style="width: 100%; height: 200px; border: 0 none;" scrolling="no"></iframe>
          <%= link_to "Voir la présentation des sujets et les brèves de l'épisode", podcast, class: 'author' %>
        </article>
        <br>
      <% end %>
      <div class="nav-article">
        <%= paginate @podcasts %>
      </div>
    </div>
  </div>
</div>