<div id="center_column">
  <div class="container page-authentification">
    <div class="ak-title">Merci</div>
    <div class="line-abo first with-padding">
      <!-- <div class="line-title red"><span class="number">1</span> Identiﬁez-vous</div> -->
      <div class="ak-login">

				Grâce à vous Le Nouvel esprit public est accessible à tous sur la toile et peut ainsi continuer à gagner des auditeurs.<br>
				Vous allez  recevoir un email confirmant votre soutien.<br>
        Pour annuler votre abonnement, écrivez-nous à contact.lenouvelespritpublic@gmail.com.<br>
      </div>
    </div>
  </div>
</div>
<div id="wrap-popup-contact"></div>
<div id="popup-contact">
  <div class="inner">
    <div class="close_contact" id="close_contact"><i class="icon-close"></i></div>
    <h3 class="title">CONTACTez-nous !</h3>
    <div class="table first">
      <div class="table-cell"> </div>
      <div class="table-cell"> </div>
    </div>
    <div class="table">
      <div class="table-cell">
        <div class="only-mobile alig-center">  </div>
        <div class="txt">
          <h2>RÉDACTION</h2>
          <br>
          <p>Pour contacter l'équipe du Nouvel Esprit public.</p>
        </div>
        <div class="align-center"><a href="mailto:contact.lenouvelespritpublic@gmail.com" class="ak-btn">NOUS ÉCRIRE</a></div>
      </div>
      <div class="table-cell">
        <div class="only-mobile alig-center"> </div>
        <div class="txt">
          <h2>SERVICE ABONNEMENT</h2>
          <br>
          <p>Pour gérer votre abonnement.&nbsp;</p>
        </div>
        <div class="align-center"><a href="mailto:contact.lenouvelespritpublic@gmail.com" class="ak-btn">NOUS CONTACTER</a></div>
      </div>
    </div>
  </div>
</div>