<!DOCTYPE HTML>
<!--[if lt IE 7]> 
<html class="no-js lt-ie9 lt-ie8 lt-ie7 " lang="fr">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8 ie7" lang="fr">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9 ie8" lang="fr">
<![endif]-->
<!--[if gt IE 8]> 
<html class="no-js ie9" lang="fr">
<![endif]-->
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Le Nouvel Esprit public - Peau de Caste</title>
    <meta name="description" content="Chaque dimanche, le Nouvel Esprit public éclaire certains éléments de l’actualité de la semaine écoulée." />
    <meta name="viewport" content="width=device-width, minimum-scale=0.25, maximum-scale=1.6, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <%= favicon_link_tag('favicon.jpg') %>
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:site_name" content="Le Nouvel Esprit public" />
    <%= yield :social %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-106121164-1', 'auto');
      ga('send', 'pageview');
    </script>

    <script type="text/javascript">
      var CUSTOMIZE_TEXTFIELD = 1;
      var FancyboxI18nClose = 'Fermer';
      var FancyboxI18nNext = 'Suivant';
      var FancyboxI18nPrev = 'Pr&eacute;c&eacute;dent';
      var ajax_allowed = true;
      var ajaxsearch = true;
      var baseDir = '';
      var baseUri = '';
      var blocksearch_type = 'top';
      var contentOnly = false;
      var customizationIdMessage = 'Personnalisation';
      var delete_txt = 'Supprimer';
      var displayList = false;
      var freeProductTranslation = 'Offert !';
      var freeShippingTranslation = 'Livraison gratuite !';
      var generated_date = 1508514712;
      var id_lang = 1;
      var img_dir = '';
      var instantsearch = false;
      var isGuest = 0;
      var isLogged = 0;
      var page_name = 'index';
      var placeholder_blocknewsletter = 'Saisissez votre adresse e-mail';
      var priceDisplayMethod = 0;
      var priceDisplayPrecision = 2;
      var quickView = true;
      var removingLinkText = 'supprimer cet article du panier';
      var roundMode = 2;
      var search_url = '';
      var static_token = '';
      var token = '';
      var usingSecureMode = true;
    </script>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
   
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="https://blockchain.info/Resources/js/pay-now-button.js"></script>

  </head>
  <body  id="<%= (action_name == 'home') ? 'index' : ''  %>" class="body lang_fr">
    <div class="layout">
      <div id="fixed-nav-top" class="clearfix">
        <div class="left desktop">
        </div>
        <div class="right">
          <div class="link-nav-top acount mobile">
            <a href="/abonnement" class="ak-log-in"><!-- <i class="ak-icon acount"> --></i> 
              <span>Soutenez-nous</span> 
            </a>
          </div>
          <div class="block-subscription">
            <a href="/abonnement" class="top"><span class="align-middle">Soutenez-nous</span> <!-- <i class="ico-journal"></i> --></a>
            <div class="ak-auth">
              <a href="/podcasts" id="open-form-login" class="ak-log-in">Les podcasts<!-- <i class="ak-icon acount"></i> --></a>
            </div>
          </div>
        </div>
      </div>
      <div id="main-nav-mobile" class="mobile">
        <div class="nav-m">
          <a href="#" class="logo-m"></a>
          <div class="burger" id="open-nav">
            <span></span>
          </div>
        </div>
        <div class="close-wrap" id="close-nav">
          <!-- Fermer le menu -->
          <div class="close clearfix">
            <svg version="1.1" id="Calque_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px"
              width="19.092px" height="19.092px" viewBox="0 0 19.092 19.092" enable-background="new 0 0 19.092 19.092" xml:space="preserve" class="right">
              <g>
                <rect x="-1.954" y="7.546" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.9542 9.5462)" fill="#010101" width="23.001" height="4"/>
                <rect x="-1.954" y="7.546" transform="matrix(0.7071 0.7071 -0.7071 0.7071 9.5463 -3.954)" fill="#010101" width="23.001" height="4"/>
              </g>
            </svg>
          </div>
        </div>
        <div class="shadow-top mobile"></div>
      </div>
      <div id="main-nav">
        <%= link_to root_path, class: 'nav-top desktop' do %>
          <div class="top"></div>
          <div class="bottom credentials"></div>
        <% end %>
        <div class="main-menu">
          <div class="decouvert mobile">
            <a href="/abonnement" class="">soutenez-nous</a> <span>/</span> <a href="/podcasts">les podcasts</a>
          </div>
          <div class="inner-menu">
            <div class="wrap-menu">
              <ul>
                <li><%= link_to "Soutenez-nous", abonnement_path %></li>
                <li><a href="#" class="ak-open-contact">Ecoutez-nous</a></li>
                <li><a href="https://lenouvelespritpublic.us17.list-manage.com/subscribe?u=97b4e6ae6cc95aa343ac42282&id=fc98149f82">Recevoir le compendium</a></li>
                
                <!-- <li><a href="/lettre">Lettre d'information</a></li> -->
                <li><%= link_to "Les brèves", books_path %></li>   
                <li>
                  <% if @public_link %>
                    <%= link_to "Les émissions en public", @public_link.lien %>
                  <% end %>
                </li>
                <li><%= link_to "Les badas", badas_path %></li>
                <li><%= link_to "Les thématiques", thematiques_path %></li>
                <!-- <li>Lettre d'information</li> -->
                <!-- <li><a href="#">Nous contacter</a></li> -->
              </ul>
              <div class="hidden-menu">
                <ul>
                  <% if Podcast.all.last.kontildondit1 %>
                  <li><a href="<%= Podcast.all.where.not(pdf: [nil, ""]).last.pdf %>">Dernier Compendium</a></li>
                  <% else %>
                  
                  <% end %>
                  <li><a href="/lettre">Lettre d'information</a></li>
                  <li><%= link_to "Les chroniques", rubriques_path %></li>
                  <li><%= link_to "Les kitafétoi", kitafetois_path %></li>
                  
                  <li><%= link_to "L’équipe", root_path(anchor: 'equipe')  %></li>
                  <li><%= link_to "Les partenaires", partners_path %></li>
                  <li><%= link_to "Les soutiens", soutiens_path %></li>
                </ul>
              </div>
              <div id="open-menu"><i class="fa fa-plus"></i></div>
            </div>
            <div class="rs clearfix">
              <a href="https://www.facebook.com/philippe.meyer.501" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/LePhilippeMeyer" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="mailto:contact.lenouvelespritpublic@gmail.com" class="right"><i class="fa fa-envelope"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="main-container">
        <%= yield %>
      </div>
      <div id="wrap-popup-contact"></div>
      <div id="popup-contact">
        <div class="inner">
          <div class="close_contact" id="close_contact"><i class="icon-close"></i></div>
          <h3 class="title">Abonnez-vous !</h3>
          <div class="table first">
            <div class="table-cell"> <img src="/assets/apple.svg" width="200" alt=""> </div>
            <div class="table-cell"> <img src="/assets/soundcloud.png" width="65" alt=""> </div>
          </div>
          <div class="table">
            <div class="table-cell">
              <div class="only-mobile alig-center"> <img src="" width="65" alt=""> </div>
              <div class="txt">
                <h2>ITUNES</h2>
                <br />
                <p>Le Nouvel Esprit Public est disponible sur iTunes</p>
              </div>
              <div class="align-center"><a href="https://itunes.apple.com/fr/podcast/le-nouvel-esprit-public/id1279728744?mt=2" class="ak-btn">JE M'ABONNE SUR ITUNES</a></div>
            </div>
            <div class="table-cell">
              <div class="only-mobile alig-center"> <img src="/assets/soundcloud.png" width="65" alt=""> </div>
              <div class="txt">
                <h2>SOUNDCLOUD</h2>
                <br />
                <p>Le Nouvel Esprit Public est aussi disponible sur Soundcloud</p>
              </div>
              <div class="align-center"><a href="https://soundcloud.com/user-102568040 " class="ak-btn">JE M'ABONNE SUR SOUNDCLOUD</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer" class="clearfix">
      <div class="right">
        <a href="/podcasts" class="lien-journal" onclick="ga('send', 'event', 'Lien journal', 'clicked', 'ACCÉDER AU JOURNAL');" >ACCÉDER AUX PODCASTS</a>
        <ul class="right-link">
          <!-- <li><a href="">FAQ</a></li> -->
          <li><%= link_to "MENTIONS LÉGALES", mentions_path %></li>
          <!-- <li><a href="">CGV</a></li> -->
        </ul>
      </div>
      <!-- <form class="nl left" id="newsletter_form" action="https://nouvelespritpublic.fr/themes/le1-v2/nl/mailchimp.php" method="post">
        <label>Newsletter </label>
        <div class="input">
          <input type="texte" name="email" class="email" autocomplete="off" placeholder="Votre e-mail">
          <button type="submit">
            <span class="btn-ok">ok</span>  
            <div class="spinner" style=""></div>
          </button>
        </div>
      </form> -->
      <div class="clearfix lien-journal-mobile">
        <a href="/podcasts" class="lien-journal " onclick="ga('send', 'event', 'Lien journal', 'clicked', 'ACCÉDER AU JOURNAL');">ACCÉDER AU PODCASTS</a>
      </div>
    </footer>
    <!-- <script src="//my.hellobar.com/" type="text/javascript" charset="utf-8" async="async"></script> -->
    
  </body>
</html>
